[2017-05-14 03:22] Trott commented on #127
I'm traveling this week and may not be able to make the meeting, so if someone else could be prepared to run the meeting, that would be awesome.

Related: If you're in or near Portland (Oregon) or Bend (Oregon) and want to meet up this week, get in touch.

[2017-05-14 10:10] benjamingr commented on #127
@Fishrock123 I see "lib,src: eagerly exit process on unhanded promise rejections" - would you like to bring it up for discussion in the next CTC meeting?

I'm not sure we're ready yet and I'd like to wait for a month after `util.promisify` lands in a stable (May 30th). On the other hand, maybe presenting some alternatives to the CTC might be a good idea - up to you.

I think "throw on GC, warn on

[2017-05-16 04:10] fhinkel commented on #127
I probably won't be able to attend this meeting.

[2017-05-16 05:09] joyeecheung commented on #127
It's 4AM in Hangzhou so I probably won't be able to attend.

[2017-05-16 21:21] mhdawson commented on #126
Its a bit of the chicken and egg in terms of:

* we need to gate against citgm to keep citgm green
* we need citgm to be green to gate on citgm

I think we have to plot a path to getting citgm being green consistently, otherwise its too hard to get the maximum value from it.  Once we managed to get the core regression builds passing most of the time, it became much easier to keep them green.

Chan

[2017-05-16 21:30] mhdawson commented on #127
@Trott I'm willing to chair the meeting, is there anything specific outside the agenda I should make sure to cover?

[2017-05-16 22:12] refack commented on #126
my 4<sub>¢</sub>

1. I actually think that CITGM should primarily be a gate for _semver-minor_, they should be breakage free (unless it's already so, and I just didn't RTFM).

2. If it's possible for the CITGM team to estimate the amount of time to get the CI job green, we call a moratorium on landing breaking changes for this time window.

[2017-05-16 22:29] Trott commented on #127
@mhdawson Thanks! I don't think there's anything outside the agenda to worry about. I do see that @joshgav removed the `ctc-agenda` label from [the debugger/inspect issue](https://github.com/nodejs/node/issues/12630) so maybe it can be skipped?

[2017-05-16 22:30] refack commented on #127
IMHO If there was no interesting discussion about `GYP`'s future during the Collaborator's meeting [Forming a `GYP` WG](https://github.com/nodejs/CTC/issues/110) can be skipped.
I'll do some groundwork in the meanwhile.

[2017-05-16 22:34] refack commented on #127
Based on the last CTC meeting I believe there's consensus around nodejs/node#12949 so [regression: 3rd party debuggers are incompatible with node8 nighlies](https://github.com/nodejs/node/issues/12364) can also IMHO be skipped.

[2017-05-16 22:42] Trott commented on #127
@refack Thanks! FYI, those items were labeled `ctc-review` which means that some CTC input is requested in the GitHub issue/pull request. They normally don't end up being discussed at the meeting. Things labeled `ctc-agenda` end up on the meeting agenda.

That said, it's super-useful to know that they are no longer labeled `ctc-review` because that list of issues is kinda long. The shorter it is,

[2017-05-16 23:10] joshgav commented on #127
As @refack said, I think we have the feedback we need in those issues now so I untagged them to reduce the load on the CTC :)

[2017-05-17 04:44] Trott commented on #127
The openssl issue has been closed and the `ctc-agenda` label removed too. That leaves the `readable-stream` issue as the only agenda item at this time. I'll update this issue and the Google Doc.

[2017-05-17 05:16] mcollina commented on #127
That's a good time as any, as we cannot ship it until 9, as there is no time, and we are focusing on some old issues. If that is the only reason to have the meeting, we can easily postpone.

[2017-05-17 11:04] rvagg commented on #127
OK, if there's nothing of utility to discuss this time then let's can it, so this is a last call -- **anyone got anything they'd like to discuss, private or public, that would justify a meeting this week?**

[2017-05-17 11:55] addaleax commented on #126
Everything but semver-major changes should be breakage-free (by definition).

[2017-05-17 11:58] refack commented on #126
[asking] Do we test that it's actually breakage-free (i.e. CITGM), or do we deduce it from code reviews and our regression testing?

[2017-05-17 12:45] MylesBorins commented on #126
We test before every release

On May 17, 2017 7:58 AM, "Refael Ackermann" <notifications@github.com>
wrote:

[2017-05-17 13:13] MylesBorins commented on #126
The TLDR on making CITGM useful is that someone needs to audit the results on a weekly basis and keep the lookup up to date for every release line.

This could potentially be automated... but I'm not sure of a clean / intuitive way to do so

[2017-05-17 13:16] addaleax commented on #126
@nodejs/build We could have a citgm-daily (or citgm-weekly) like [node-daily-master](https://ci.nodejs.org/view/All/job/node-daily-master/), right? That might help.

[2017-05-17 14:28] jasnell commented on #127
Nothing significant this week. I'm +1 on skipping as I could use the time back in my calendar today.

[2017-05-17 14:29] mhdawson commented on #126
@gibfahn or myself can easily setup the required CI jobs.  Once we agree on what's needed one of us can volunteer to set them up.

[2017-05-17 14:34] jasnell commented on #126
Setting up the job is the easy part, yes? The real task will be ensuring that there is someone auditing the results. It would be interesting to see if we could have a page similar in nature to benchmarking.nodejs.org but that summarizes the results of the nightly citgm run.

[2017-05-17 14:36] mhdawson commented on #127
Sames goes for me.  Happy to skip the meeting if we have no issues to discuss.

[2017-05-17 15:51] ChALkeR commented on #127
I wanted to mention something in private, but that could be postponed until the next week or moved to email, so I'm good with skipping.

[2017-05-17 16:13] refack commented on #126
I'm volunteering to audit the results, but can't commit to every day. IMHO should be at least two people...
(Hopefully by doing it a couple of times I will figure who to automate it)

[2017-05-17 17:15] addaleax opened #128 "How we use “request changes”"
Hi everyone, I’d like to mention something I’ve been noticing somewhat recently: We’re a bit inconsistent about our usage of the “request changes” review button, in a way that I think does matter. It seems to me like some of us use the button very literally, i.e. to generally request changes to a PR, but I am actually trying to avoid that unless it’s something that I think should *block* the PR in

[2017-05-17 17:33] mikeal commented on #128
This is a great writeup!

We haven't taken the time to evaluate what impact our use of many new GitHub features have been.  If we decide to create a more formal policy on how to use this particular feature, which document would we put it in? Also, I assume we would add it to our on-boarding process for new contributors?

[2017-05-17 17:42] benjamingr commented on #128
I think that's the problem, I have always seen that button used when the changes requested block landing. Myself and other collaborators typically Approve and leave a "nit: ..." or "this pr can go on without this but ...".

The thing is - newcomers have a lot more blocking issues, I think it would be beneficial to have a document of common etiquette with first time collaborators, namely:

 - When

[2017-05-17 17:45] mikeal commented on #128
One other thing, it's really troublesome when several reviews have single blocking requests rather than a single reviewer with many requests. It means that after the contributor deals with the adjustments they have to wait for several people to come back and respond and, depending on the reviewers, this can take quite some time.

[2017-05-17 17:58] addaleax commented on #127
I guess I would have liked to do my thing where I get annoying and ping everyone about the state of our collaborator nominations (https://github.com/nodejs/node/issues/12646) :smile: But well, three of them have been nominated for long enough so that everybody has had plenty of time to voice objections, and I haven’t seen any, so I guess I can send out emails later anyway.  ¯\\\_(ツ)_/¯

[2017-05-17 18:18] indutny commented on #127
Adding this item https://github.com/nodejs/node/pull/13005 to ctc-agenda. I'm not yet sure if I'll be able to make it today, but would appreciate if some (at least preliminary) discussion could be made with regards to this API addition.

Motivation for the change is making Agent API more flexible for external use.

[2017-05-17 18:47] mhdawson commented on #127
@indutny looking at the comments on the issue, it does not seem like there would be a meeting this week.  Since you are not sure if you can make it how about it be on the agenda for next week ?

[2017-05-17 18:48] indutny commented on #127
Sounds good!

[2017-05-17 18:49] mhdawson commented on #127
Unless somebody speaks up in the next 10 mins, I think we should officially cancel the meeting for this week.

[2017-05-17 19:02] mhdawson commented on #127
Ok, I think we can declare it cancelled, closing the issue.

[2017-05-17 19:02] #127 closed

[2017-05-17 19:10] jasnell commented on #128
Let me make an attempt to codify this a bit:

When reviewing a PR:
* Use the `Comment` review option to leave feedback on non-blocking changes that may need to be made.
* Use the `Request Changes` review option only to signal blocking issues.
* Use the `Approve` only when you feel the PR is ready to land.

In addition to this, I think we need to make it clear that a collaborator is permitted to cl

[2017-05-17 19:43] refack commented on #128
👍 Since we already require approval consensus, starting with "comments" IMHO is perceived as more welcoming. Escalating to "approve" and "request changes" only when and if the PR gets momentum (I've already seen @addaleax engage in this manner, and I try to mimic)

👍 There are several good PRs out there that seem to be blocked in this manner...

[2017-05-17 19:45] gibfahn commented on #128
I think this is key. As long as "request changes" means "once my comments have been answered I'm okay with this", then another collaborator can clear the review once the comments have been answered, which should resolve the issue of people not updating their reviews.

Agreed. I found this post helpful: http://brson.github.io/2017/04/05/minimally-nice-maintainer

[2017-05-18 02:08] MylesBorins opened #129 "protect release branches"
We should protect all `vX.x` release branches to only be pushable by @nodejs/release

there is no reason for anyone else to be pushing to those branches and they shouldn't be able to be force pushed without documentation.

[2017-05-18 02:45] jasnell commented on #129
SGTM

[2017-05-18 10:26] mcollina commented on #129
SGTM

[2017-05-18 10:56] evanlucas commented on #129
I think that's a good idea

[2017-05-18 10:58] mcollina commented on #128
There is a lot of general misunderstading on how the full review process work. A lot of people do not know how OSS work, and they feel bad about "request changes" and they fail to follow-up. I think a blog post on "do no give up if your contribution needs a change" is needed. OSS is a process to be better people and better developers.

[2017-05-18 11:52] gibfahn commented on #128
We try to do that in [CONTRIBUTING.md](https://github.com/nodejs/node/blob/master/CONTRIBUTING.md#step-7-discuss-and-update), but we could definitely do this elsewhere as well.

[2017-05-18 14:53] sam-github commented on #128
Maybe the PR template should include a link to a post such as @mcollina describes, one that maybe walks through what's going to happen during PR review, acknowleges that is slow, and explains why. Or at least a more clear statement that the checkboxes are not decorative, they are a list of requirements.

[2017-05-18 15:04] addaleax commented on #128
I kind of feel like people here are missing the point of what I’m trying to say. We can write policies and blogposts all we want, but that doesn’t change that it matters how we treat people.

@jasnell Sure, do you want to open a PR with that to the onboarding docs? If not, I can do that as well.

[2017-05-18 15:50] mcollina commented on #128
@addaleax

Agreed. I do not think we should merge code that is not ready to be merged.
The way you are proposing to manage comments is that they are not-blocking concerns, so I should land a PR if there were comments from other contributors and enough LGTMs. As a reviewer, I consider most of my comments (even little nits) as important, and they are blocking for me (they might just be a question).

[2017-05-18 16:07] addaleax commented on #128
I’m not sure we are agreeing here – isn’t the definition of a nit, as we use the term, that something can be addressed while merging the PR/later?

I think a PR is ready to be merged once it is an overall improvement to the codebase, but it sounds a bit like you don’t agree, so I’d be curious to hear what your criteria are.

Ack, this is what I’ve been doing anyway. But as I’ve mentioned, usually

[2017-05-18 16:24] mcollina commented on #128
Yeah. But it needs to be addressed.

Generically I land things (not just here), that are 100% an improvement to the codebase. If I am just a doubt about one part (even a nit), I'm not merging it. I had too many bad experiences of code that I merged because it was an improvement, and in the medium to long term it showed up being very hard to maintain.

Fixing the nit while merging is ok. This is so

[2017-05-18 16:29] bnoordhuis commented on #128
I use it for small issues that aren't structural flaws but should still be addressed before merging.

Apropos "Request changes" vs. "Comment", the former is a clear signal changes are needed, the latter I view more as neutral, informal, take-it-or-leave-it comments.

[2017-05-18 16:49] sam-github commented on #128
I think fixing the nits (aka "quality problems") before landing is important, because without doing it we get a code base full of nits. It makes things a bit slow and discouraging, that's true, for long-time collaborators as well as new ones, but we don't have a nit cleanup squad. If there are collaborators who want to volunteer to fix the nits in someone's PR, that's great they have the time to d

[2017-05-18 17:09] MylesBorins commented on #67
This was fun!

[2017-05-18 17:09] #67 closed

[2017-05-18 17:29] mikeal commented on #128
I think there is broad agreement that all of these issues and nits should be fixed before being merged, I don't think that is what is up for debate. What is up for debate is *how* we move the contributor towards resolving those issues.

The problem I believe we are trying to address is that "request changes" DOES NOT ONLY mean "fix these before merge." Any comment on the PR accomplishes this. What

[2017-05-18 17:38] mikeal commented on #128
We've found it difficult to get people to actually use much of the authority we give them. In particular, people that are newer to being committers are more timid about things like this.

In this particular case, we're saying "go ahead and clear another reviewers objections." For the most part, we're talking about style nits and not deep technical objections where most reviewers will want the orig

[2017-05-18 17:52] sam-github commented on #128
The request changes also has a technical benefit, we used to do line comments on the PR diff, and each  comment generated a email notification, and the PR couldn't land as long as any of the line comments were still there. With the review UI, all the comments are batched up into one notification, and its more clear whether they have been addressed or not. @mikeal are you suggesting we avoid using

[2017-05-18 17:57] jasnell commented on #128
The challenge with using just the `Comments` is that it does not show up as clearly as the Green check mark or Red X. There are a combination of issues here. (1) the big red X is discouraging to new contributors and (2) some reviewers tend to be ... abrupt... in how they provide their feedback. Used in combination, the experience can be rather off-putting. I have found myself often wishes GitHub h

[2017-05-18 18:03] mikeal commented on #128
@sam-github I'm less worried about the email notifications we send (a small annoyance to maintainers) than I am about how well we encourage and retain new contributors.

Anything we do will have a tradeoff. Small adjustments in how we review contributions, especially first time contributions, have a large aggregate impact on how many people we will retain as longer term contributors.

While it may

[2017-05-19 03:29] Trott commented on #126
For `node-daily-master`, I just have it as part of my daily morning routine to check https://ci.nodejs.org/job/node-daily-master/. No special page needed. It might be perfectly usable to check the equivalent page for a daily citgm run.

If @refack is volunteering to stay sufficiently knowledgable about what a clean citgm run looks like and what a problematic one looks like, then that may be all we

[2017-05-19 12:11] gibfahn commented on #126
I think one is most definitely **not** all you need. You need one person available at any time, which translates to at least five people (in my experience).

[2017-05-19 12:37] refack commented on #126
I'm hoping that will be a temporary sitch, and that will figure out how to automated it.
FWIW we can start with a weekly (or semi-weekly) job.

[2017-05-19 20:34] mhdawson commented on #128
I favor using comments over requesting changes when possible. If there are cases where requesting changes is used, then the onus needs to be on the person doing that to check back frequently.  If a reviewer is going object in a blocking manner, then they need to actively work with the contributor to make sure it moves forwards.

[2017-05-19 21:09] bnoordhuis commented on #128
Come to think of it, I rather like how https://github.com/nodejs/node/pulls lets you filter on No reviews / Changes requested / Approved.

I say use Changes requested more, not less!  It's a good indicator of what is in progress and what is still fresh.

[2017-05-19 21:39] addaleax commented on #128
The thing is, it’s *not* a good indicator as long as people don’t follow up; taking a look at the first page of the “Changes requested” list, there’s somewhere between 8 and 11 out of 25 PRs where the PR is not actually blocked by waiting for the author to do something.

[2017-05-19 21:58] bnoordhuis commented on #128
Oh, that.  Just dismiss reviews if the comments have been addressed and stamp your own LGTM.

I clicked a couple on the first page - no cherry-picking, I promise - and they all seem to have changes requested for valid reasons (except one, maybe.)

[2017-05-20 13:13] Trott opened #130 "Node.js Foundation Core Technical Committee (CTC) Meeting 2017-05-24"
## Time

**UTC Wed 24-May-2017 11:00 (11:00 AM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 24-May-2017 04:00 (04:00 AM) |
| US / Mountain | Wed 24-May-2017 05:00 (05:00 AM) |
| US / Central  | Wed 24-May-2017 06:00 (06:00 AM) |
| US / Eastern  | Wed 24-May-2017 07:00 (07:00 AM) |
| Amsterdam     | Wed 24-May-2017 13:00 (01:00 PM) |

[2017-05-20 13:24] Trott commented on #130
This will be our first time trying this Europe-and-India-friendly time slot. It looks like it is also Not Completely Terrible for China, Japan, and Australia.

It's going to be 4AM local time for me. I'm going to try to get out of bed for this. But if I don't make it, someone else please run the meeting. :-D

[2017-05-20 13:28] Trott commented on #130
We're down to 10 `ctc-review` items. Please review! (And please remove the label if it's no longer appropriate.)

* ~~[module: remove require('.') with NODE_PATH compat](https://github.com/nodejs/node/pull/3384)~~
* ~~[http: don't inherit from Object.prototype](https://github.com/nodejs/node/pull/6102)~~
* ~~[doc: add active, enroll and unenroll](https://github.com/nodejs/node/pull/11736)~~
* ~~[s

[2017-05-20 13:40] bnoordhuis commented on #97
Seems the discussion ran its course.  Closing but feel free to reopen.

[2017-05-20 13:40] #97 closed

[2017-05-20 13:41] bnoordhuis commented on #96
I'm removing the ctc-review label.  If you think this should be on the agenda, please add it (or close the issue if appropriate.)

[2017-05-20 13:48] bnoordhuis commented on #130
I've removed the ctc-review label from issues that had it for over a month (about half of Rich's list) on the assumption that if it hasn't been reviewed by now, it won't happen in the future either.

EDIT: Crossed them out in Rich's list for your browsing pleasure.

[2017-05-21 03:14] refack commented on #126
Until we find a better format: https://github.com/nodejs/node/wiki/CITGM-Status

[2017-05-21 04:32] Trott commented on #126
@gibfahn I think we're talking about different things, or maybe there's something about CITGM I don't know. What I'm saying is that you minimally need one person to monitor a daily (or weekly) job. If the job fails, it's not necessarily their responsibility to fix it. They just need to be able to dig deeply enough to figure out a reasonable approximation of who to notify. In this case, it could be

[2017-05-21 12:44] refack commented on #126
And bit more use off the WIKI
[last night to today diff](
https://github.com/nodejs/node/wiki/CITGM-results-table/_compare/6bac257e835e44d00cb33337f0859479b56e3039...19675505c97d0f65d06c89675bbd357818c7d0e0)

[2017-05-21 15:23] jasnell commented on #96
I've been thinking more and more that the the @nodejs/security team needs to be a formal working group with a bit more governance around it. Right now, the team is rather informal and questions of who should be there seem to pop up often enough that we really ought to have something a bit more defined. I know there was talk about a security working group around the Node.js Security Project coming

[2017-05-21 20:49] refack commented on #126
Question: should we keep a `lookup.json` just for the CI, so we could choose a baseline and turn it green.
It could be considered like a floating patch, since the CITGM's `lookup.json` takes into consideration a wider scope, and should be more parsimonious.

[2017-05-21 20:51] Trott commented on #96
@jasnell First order of business is probably figuring out how to name the two things that should not be conflated in such a way that they don't get conflated.

[2017-05-22 07:38] gibfahn commented on #126
Discussed in https://github.com/nodejs/citgm/issues/407

[2017-05-22 12:16] refack commented on #126
Yay my insomnia pays off...
We have our first hit https://github.com/nodejs/node/pull/13098#issuecomment-303079737
(well obviously not yay for the breakage, but for this validation process)
/cc @aqrln

[2017-05-22 14:32] refack commented on #126
Question: when encountering a regression, should I inform the module owners (i.e. open an issue)?
Follow up: what's the criteria for a verified regression? for example 2 platform in 1 run, or 1 platform on 2 runs?

[2017-05-22 14:44] aqrln commented on #126
@refack

I think that makes sense and is generally nice.

[2017-05-22 14:54] mcollina commented on #126
@refack IMHO before pinging the author we should check if it was our fault or not.  If the original PR was not semver-major and expected to break that, maybe no, we should try to fix things on our side.

[2017-05-22 15:02] refack commented on #126
It's definatly an open question, when there is a range of commits suspected probably the module author is the best resource for pinning down the "culprit"...
For example in https://github.com/websockets/ws/issues/1118 there was a range https://github.com/nodejs/node/compare/171a43a98685d5cca6710d2d6bf4d20008de3426...ad4765a32641277a91efb565e2056abaa6b6a70b. Admittedly in this case it was fairly ea

[2017-05-22 15:23] MylesBorins commented on #126
generally I will either ping people on our repo when we add something to flaky or alternatively send a fix. (the latter is preferable )

[2017-05-23 20:00] jasnell opened #131 "TC-39 Discussion: Seeking input on import options"
At TS-39, @domenic led a short discussion around the possibility of attaching options to an `import` statement or `import()` function. There are a number of use cases for this that need to be considered and there would definitely be an impact on Node.js if this were to move forward. We need folks here to commit to reviewing the issues and providing feedback.

@domenic's presentation is here: https

[2017-05-23 20:02] jasnell opened #132 "TC-39 Discussion: Modules with failed evaluation"
@domenic led a discussion at TC-39 around ES Modules with dependency loops and failures during evaluation. Presentation is here: https://github.com/tc39/ecma262/issues/862 ... this is definitely something that we need folks here to help review and provide feedback on.

[2017-05-23 20:58] jasnell opened #133 "TC-39 Discussion: Accessing module metadata"
@domenic led a discussion at TC-39 today on adding the ability to access module relative metadata (e.g. covering the use case for things like `__dirname` in ES6 modules). The slides are here: https://docs.google.com/presentation/d/1p1BGFY05-iCiop8yV0hNyWU41_wlwwfv6HIDkRNNIBQ/edit?usp=sharing

This is something that we'll need folks here paying attention to and providing feedback on.

[2017-05-24 03:46] Fishrock123 commented on #131
The syntax is awful.

[2017-05-24 03:52] domenic commented on #131
And yep, I'm out... Good old Node community, welcoming as always.

[2017-05-24 03:54] jasnell commented on #131
@Fishrock123 that's not particularly useful. There are a number of considerations beyond just syntax and it's something that we need to pay attention to. Is there more constructive input you could provide?

[2017-05-24 03:57] jasnell commented on #131
I will point out that tc-39 cares a great deal about this stuff working for node. @domenic has taken great pains to include common node use cases and requirements throughout the proposals discussed. It's worth our time to consider these as carefully as tc-39 is doing. This is stuff that will impact our users for a very long time.

[2017-05-24 04:00] jasnell commented on #131
Fwiw... The conversation landed today on favoring an out of band (non-syntax) driven approach. That said, the discussion right now should be around the needs an be requirements, not knocking down syntax straw people.

[2017-05-24 04:02] Fishrock123 commented on #130
I don't have much to add other than the "inverted dependency" thing seems to be working for node-inspect.

[2017-05-24 04:03] evanlucas commented on #130
I may miss this one. Apologies in advance if so.

[2017-05-24 04:06] Fishrock123 commented on #131
How does out-of-band work for node?

I very much dislike the single "string" approach and would rather:

[code]

[2017-05-24 04:08] cjihrig commented on #133
What was the result of the discussion? Seems like option 1 would be the simplest for Node.

[2017-05-24 04:20] Fishrock123 commented on #132
I thought that there was supposed to be module idempotency around this like other similar cases.

[2017-05-24 04:25] Fishrock123 commented on #133
Seems like option 2 would be more fitting if it could be specced. Particularly `from here` or some variation of that?

Otherwise, I'd assumed we were going with option 1.

---

Technically I had a fancier plan for this with the assumption of option 1 but I was kinda hand-wavy.

It would involve appending something similar to the following at the beginning of every file (similar to how we wrap toda

[2017-05-24 04:25] Fishrock123 commented on #133
To my knowledge that wouldn't really break anything ESM-wise.

[2017-05-24 05:11] mcollina commented on #130
There is https://github.com/nodejs/node/pull/12925, it is semver-major, but we would like it to land in Node 8.

[2017-05-24 05:56] mscdex commented on #130
I probably won't make it either, but as far as the `readable-stream` issue goes, I think I am still -1 for reasons already discussed in the EP thread (including some of @AndreasMadsen's concerns) as well as reasons I've given elsewhere in a thread in this repo IIRC (I cannot find the link at the moment but I do remember discussion before the EP happened).

[2017-05-24 07:43] jasnell commented on #133
Option 1 seemed like the most viable. Option 2 was not popular.

[2017-05-24 09:10] mcollina commented on #130
I read the time wrong, and didn't account timezone differences. I will be on a plane while this call happens :(.

[2017-05-24 09:38] bnoordhuis commented on #130
I might be a few minutes late, overlap with my other job, Taxi Service Dad.

[2017-05-24 10:13] jasnell commented on #130
I'm actually in the right timezone for this one but I'm going to have to miss.

[2017-05-24 13:19] MylesBorins commented on #130
Sorry I missed this y'all

On May 24, 2017 6:13 AM, "James M Snell" <notifications@github.com> wrote:

I'm actually in the right timezone for this one but I'm going to have to
miss.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/nodejs/CTC/issues/130#issuecomment-303680154>, or mute
the thread
<https://github.com/notificati

[2017-05-24 13:24] targos commented on #130
Minutes: https://github.com/nodejs/CTC/pull/134

[2017-05-24 13:24] #130 closed

[2017-05-24 14:21] Fishrock123 commented on #129
/shrug

seems fine I suppose

[2017-05-24 14:44] Fishrock123 commented on #133
Unpopular solely based on "spec amend no-no" sentiment or because there is some reason that might not be good?

[2017-05-24 14:45] Fishrock123 commented on #131
@jacktuck ... Yes? I have attempted to clarify my initial feedback. Do let me know what is wrong with it.

[2017-05-24 14:50] jasnell commented on #133
Unpopular based on syntax ergonomics, adding a new keyword, etc. There was a third option discussed and ruled out that would allow hosts to do essentially what we're doing currently with `require()` when injecting `__dirname` and `require()` but the consensus was that it had too many potential issues.

I *believe* (@domenic please correct me if I'm wrong) we landed on somethink like the following

[2017-05-24 15:00] jasnell commented on #131
@Fishrock123 ... thank you for clarifying.

As this was being discussed, I grokked the use case easily enough but struggled on what would be the most ergonomic approach and unfortunately didn't come up with any really great ideas. One idea that popped in to mind would be to use an options object syntax rather than a string syntax... e.g.

[code]

or even...

[code]

In terms of how out of band wou

[2017-05-24 15:19] Fishrock123 commented on #131
I do like the object approach for the import function.

Adding it to package.json poses similar issues as adding the ESM detection mechanism there, IMO.

[2017-05-24 15:21] Fishrock123 commented on #133
@bradleymeck seems to have mentioned `import.meta` in another issue, which seems aptly appropriate.

[2017-05-24 15:42] bmeck commented on #133
Webkit is pretty hard set against a reserved specifier in https://github.com/whatwg/html/issues/1013 which means pretty much have to do option 2 at this rate.

[2017-05-24 15:46] MylesBorins commented on #129
@Fishrock123 is this a -1? Is there a reason you think this shouldn't happen? This comment isn't really helping to move the conversation forward and I don't see it as particularly productive

[2017-05-24 19:27] mhdawson commented on #133
Proposal seems to be: https://github.com/domenic/proposal-import-meta

[2017-05-24 19:40] mhdawson commented on #131
Even with the object import approach, it would have the same problem with "integrity"  right ?

The object syntax  does seem nicer but I'd prefer the first 2 variants where the options are in an object of their own:
[code]

[2017-05-24 20:35] MylesBorins opened #135 "Node.js 8.0.0 release announcement"
Hey everyone. There is going to be a release announcement that will accompany the 8.0.0 release. This is going to be a bit higher level. Can you please chime into this thread things that we should consider including as well as a one or two sentence high level description

[2017-05-24 20:42] mscdex commented on #135
Are you only considering semver-major changes here or what?

[2017-05-24 20:51] MylesBorins commented on #135
Anything that is new in 8.x that is worth letting people know about

[2017-05-24 20:53] addaleax commented on #135
I think my favourite cool big things are:

- N-API (experimental): N-API is Node’s new ABI-stable native API that will allow native addons to be written more easily across Node versions and across platforms.
- async_hooks (experimental): async_hooks enables users to monitor and track state across Node’s asynchronous operations, enabling better diagnostic tools and other utilities.
- (maybe) util.p

[2017-05-24 20:53] mscdex commented on #135
@MylesBorins I guess my question is relative to what? The most recent v7.x release? The last LTS branch (v6.x)? Or do we wait for the LTS comparison until the first v8.x LTS release?

[2017-05-24 20:55] mscdex commented on #135
I think if we're going to mention TurboFan in one way or another, we should not make it seem like it's going to be enabled everywhere for the v8.0.0 release, but in a later v8.x release (with V8 5.9/6.0 or whatever).

[2017-05-24 22:29] zkat commented on #135
Here's a pitch for an npm@5 one:

(Note: I can update the changelog link to point to our Releases page probably tomorrow night/early Friday, after npm5 goes to npm@next)

[2017-05-25 03:30] refack commented on #128
BTW: I've just read that it's been online for two months but anyway github added a special badge for first time contributors
![image](https://cloud.githubusercontent.com/assets/96947/26434778/c4b80b66-40d8-11e7-8d65-72478ba4eded.png)
The feature came out with a tweet saying `"(GitHub) Maintainers will now see "first-time contributor" badges if it's the author's first pull request to the project. B

[2017-05-25 07:09] TimothyGu commented on #135
I think there should be one for WHATWG URL class too, if we were to [graduate it from experimental](https://github.com/nodejs/node/pull/12710) before then.

[2017-05-25 09:00] mcollina commented on #135
A relatively low-level but important change is the new `stream.destroy()` API. This have been in the talk for years in the streams wg. Depending on how high level the announcement is, we might not want to include it. Definitely it goes into the notable changes in the release.

[2017-05-25 12:08] ronkorving commented on #135
Maybe an honorable mention of async/await without flags?

[2017-05-25 13:22] jasnell commented on #135
@bnoordhuis mentions the change to Date parsing [here](https://github.com/nodejs/node/issues/10117#issuecomment-303959108)...

The WHATWG URL implementation progress is definitely worth a mention.

[2017-05-25 13:44] mscdex commented on #135
If we're going to mention ES changes as well, someone might want to look for others that might be worth noting too...

[2017-05-25 14:10] MylesBorins commented on #135
async / await without a flag landed in 7.x

On Thu, May 25, 2017, 9:44 AM Brian White <notifications@github.com> wrote:

[2017-05-25 14:42] gibfahn commented on #135
Sure, but for LTS users (which in theory is everyone using Node in production) this is the first release to support it.

This relates to @mscdex's question, is this a "new LTS release" blog, or a "new Current release" blog. Are we going to do another one when Node 8.6.0 (or whatever) goes LTS?

[2017-05-25 15:33] ZibbyKeaton commented on #135
We will be writing two blogs here, similar to what we did with Node.js v6 (one announcing this new release line and one announcing it's transition to LTS). For content on this particular blog, we are looking for the major features that are going into this version and how they will help the end users. We will also be adding improvements in here as well. At the beginning of the blog, we make it clea

[2017-05-25 15:37] ZibbyKeaton commented on #135
Also, so folks have reference point on what's been written in the past about this from a NF standpoint, here's a few example of release announcement posts: https://hackernoon.com/node-js-v6-transitions-to-lts-be7f18c17159 and https://nodejs.org/en/blog/announcements/v6-release/

[2017-05-25 15:51] jasnell commented on #135
Yes, I plan to do the release write up. I'll have a draft by Monday.

On Thu, May 25, 2017 at 11:37 AM Zibby Keaton <notifications@github.com>
wrote:

[2017-05-25 18:54] jasnell commented on #133
So yeah, the proposal on the table is to use `import.meta`, where the properties on `meta` are host specific. This will be the place where we can hang things like a module specific `import.meta.require()` function, or `import.meta.__dirname` if we want it.

Note, however, that it's going to be far more likely for browsers to use `import.meta.url` to provide the base URL of the module script rather

[2017-05-29 15:42] Trott commented on #92
Closed by https://github.com/nodejs/node/issues/13232

[2017-05-29 15:42] #92 closed

[2017-05-29 19:03] mhdawson commented on #135
Looks like a good list so far.  I'm +1 on mentioning WHATWG URL as well and we might want to mention the new  tracing engine (don't remember if that went in in 7 or 8 though).

[2017-05-29 19:07] jasnell commented on #135
Working on the draft today... I've finalized the changelog. There won't be any more commits landing in 8.x so long as nothing absolutely critical comes up. My current draft does not include 100% of the items listed here but it will by the time I'm done. I will post the draft later on this evening.

@ZibbyKeaton ... fyi, npm5 landed today and the WHATWG URL implementation graduated from experimenta

[2017-05-29 20:47] ZibbyKeaton commented on #135
@jasnell sounds good. i will make sure to confirm everything in this blog matches up to yours and I have added in the WHATWG URL information in there.

[2017-05-29 22:39] Trott opened #138 "Node.js Foundation Core Technical Committee (CTC) Meeting 2017-05-31"
## Time

**UTC Wed 31-May-2017 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 31-May-2017 09:00 (09:00 AM) |
| US / Mountain | Wed 31-May-2017 10:00 (10:00 AM) |
| US / Central  | Wed 31-May-2017 11:00 (11:00 AM) |
| US / Eastern  | Wed 31-May-2017 12:00 (12:00 PM) |
| Amsterdam     | Wed 31-May-2017 18:00 (06:00 PM) |

[2017-05-29 22:40] brad-decker commented on #135
Great work everyone. Looking forward to the blog post!

[2017-05-29 22:44] Trott commented on #138
Per discussion in https://github.com/nodejs/node-eps/pull/49, I've changed it's label from `ctc-agenda` to `ctc-review`. I'm removing it from the agenda for this week. (@mcollina or anyone else: If that's wrong and you want it on the agenda this week, leave a comment and we'll add it back.)

[2017-05-29 22:48] Trott commented on #138
Items labeled `ctc-review`. @nodejs/ctc PTAL:

* [Invert dependency between core and readable-stream](https://github.com/nodejs/node-eps/pull/49)
* [lib,src: exit process on unhandled promise rejection cleanup](https://github.com/nodejs/node/pull/12010)
* [doc: note that EoL platforms are not supported](https://github.com/nodejs/node/pull/12672)
* [Confirmation that the stability definition is cor

[2017-05-29 22:52] Trott commented on #138
Right now, we have no agenda items. The meeting is scheduled to take place in approximately 41 hours from now. If you have something that should be on the agenda, please suggest it soon! Thanks. Otherwise, it seems likely that the meeting will be canceled.

[2017-05-30 03:54] jasnell opened #139 "Proposal: new way of handling feature requests"
Right now feature requests are opened as issues in the Node.js tracker... where they tend to be labeled as feature requests and are quickly forgotten. The `feature-request` label has the highest number of issues and the lower number of resolutions.

What I'd like to propose is the creation of a new `nodejs/requests` repository where feature requests can be directed to and discussed. Much like the

[2017-05-30 04:21] Trott commented on #139
I'm not opposed to this, but all things equal, I'd prefer we find a better way of triaging and handling feature requests in the nodejs repo rather than move it to a separate repo.

There may be some bits and pieces we can pull from https://github.com/maintainerati/events/blob/master/wontfix_cabal/notes-3/backlog.md and other resources. For example, from that document, it might be worth considering

[2017-05-30 04:24] Trott commented on #139
I wouldn't mind discussing this at the CTC meeting this week, if it's not too short notice for people to have a decent think about it ahead of time. Better triaging and management of the issue tracker is one of those things that never gets bad enough for us that it's a crisis, but for which there seems to be huge opportunity for improvement. (Thanks for raising this issue!)

[2017-05-30 08:56] fhinkel commented on #139
My 2 cents: highly dislike the new repos popping up all the time. Makes it so hard to find any issues because now I have to search over 5 different repos.

[2017-05-30 09:52] evanlucas commented on #123
+1 from me

[2017-05-30 14:01] jasnell commented on #139
A new repo is definitely not ideal, but also having these requests sitting there neglected isn't great either. We definitely need to figure out a more effective system.

[2017-05-30 15:59] mhdawson commented on #139
The key issue sounds like getting people to review/comment on the feature requests along with guidance to help that process.  It might make sense to try to bring people together who are willing/interested in staying on top of that (a team?) and then figure out what the team needs to do in order have visibility/tools required to do the work effectively.

If we don't have people stepping up to lead

[2017-05-30 16:19] hybrist commented on #139
I think that would definitely help.

I'm not sure if it would create a false sense of democracy but would it make sense to encourage 👍 /subscriptions to issues to mark feature requests that have wide support (obvious downside: encourages flooding the issue with friends & family).

[2017-05-31 02:09] pmq20 commented on #135
https://nodejs.org/en/blog/release/v8.0.0/

[2017-05-31 02:48] #135 closed

[2017-05-31 11:14] mcollina commented on #138
Is this happening?

[2017-05-31 11:16] addaleax commented on #138
Let’s call it off.

<sub>(If it is happening, I’d be ~30 minutes late as always for this meeting time.)</sub>

[2017-05-31 13:56] jasnell commented on #138
If there are no agenda items, then I think we can safely skip this week and give everyone the time back in their calendars.

[2017-05-31 15:06] evanlucas commented on #138
+1 to canceling.

[2017-05-31 15:06] MylesBorins commented on #138
+1 to canceling

[2017-05-31 15:08] Fishrock123 commented on #138
Let's cancel. Any agenda items are far too late.

[2017-05-31 15:21] mhdawson commented on #138
I'm +1 as well.

[2017-05-31 15:56] addaleax commented on #138
Okay, I’m closing this. Enjoy your extra hour. :)

[2017-05-31 15:56] #138 closed

[2017-06-01 21:27] #128 closed

[2017-06-03 11:52] eljefedelrodeodeljefe commented on #109
I'd be happy if we could push https://github.com/nodejs/node/pull/12712 forward.

[2017-06-05 01:42] Trott opened #140 "Node.js Foundation Core Technical Committee (CTC) Meeting 2017-06-07"
## Time

**UTC Wed 07-Jun-2017 20:00 (08:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 07-Jun-2017 13:00 (01:00 PM) |
| US / Mountain | Wed 07-Jun-2017 14:00 (02:00 PM) |
| US / Central  | Wed 07-Jun-2017 15:00 (03:00 PM) |
| US / Eastern  | Wed 07-Jun-2017 16:00 (04:00 PM) |
| Amsterdam     | Wed 07-Jun-2017 22:00 (10:00 PM) |

[2017-06-05 01:44] Trott commented on #140
I propose that we vote on inducting the current nominees after this meeting (if we have the meeting at all--only one issue as of right now and seems like one that *might* get resolved in the issue tracker).

[2017-06-05 01:48] Trott commented on #140
`ctc-review` items:

* [Invert dependency between core and readable-stream](https://github.com/nodejs/node-eps/pull/49)
* [lib,src: exit process on unhandled promise rejection cleanup](https://github.com/nodejs/node/pull/12010)
* [doc: note that EoL platforms are not supported](https://github.com/nodejs/node/pull/12672)
* [Confirmation that the stability definition is correct](https://github.com/n

[2017-06-05 21:11] mhdawson commented on #123
PR here: https://github.com/nodejs/CTC/pull/122

[2017-06-05 21:15] mhdawson commented on #123
PR here: https://github.com/nodejs/LTS/pull/223

[2017-06-05 22:20] refack commented on #129
@MylesBorins AFAIK this was done, or should this still be open?

[2017-06-05 22:21] refack commented on #116
@MylesBorins dup of https://github.com/nodejs/CTC/issues/129?

[2017-06-05 22:34] MylesBorins commented on #129
Lol I duped

[2017-06-05 22:34] #129 closed

[2017-06-05 22:35] MylesBorins commented on #116
This was not done... we only protected staging branches (which I think we can revert)

[2017-06-05 23:07] gibfahn commented on #116
+1 to unprotecting staging branches (because we often need to force-push to them) and protecting release branches.

[2017-06-05 23:08] gibfahn commented on #116
Note: there are `SGTM`s from @mcollina and @evanlucas in https://github.com/nodejs/CTC/issues/129

[2017-06-06 18:05] mhdawson commented on #114
FYI - work to investigate issues discussed here: https://github.com/nodejs/post-mortem/issues/45

[2017-06-06 20:18] MylesBorins commented on #116
This is implemented. All release branches are now locked to the release team (including admins). Staging is no longer protected

[2017-06-06 20:18] #116 closed

[2017-06-07 01:26] mscdex commented on #135
Would it make sense to update the release post to include a note about the change in `Date()` parsing as previously mentioned? We just got another issue report about this and it seems to be catching more people off guard...

[2017-06-07 02:35] jasnell commented on #135
doh! I had completely forgotten about that change! Yes, we absolutely should update the post for it.

[2017-06-07 15:02] Fishrock123 commented on #133
Erm, did you just describe defeating the point of it?

IMO we need to support the currently injected properties. (Except `exports`.)

[2017-06-07 15:40] bmeck commented on #133
@Fishrock123 much like aligning with web browsers on ESM semantics which are largely host defined, we need to stay in line enough to create usefulness rather than friction.

We can introduce `import.meta.nodejs.*` and put w/e on there we want, but the more we put on there the less universal code will be for both people writing for the browser and for node.

I'd rather people use `import './cjs.js'

[2017-06-07 15:41] mhdawson commented on #140
+1 on voting on current nominees.

[2017-06-07 15:43] bmeck commented on #133
ah, to note: `module` would be super screwy in ESM since it has different semantics and parts of it wouldn't make sense / it wouldn't inherit from CJS's module class

[2017-06-07 15:49] MylesBorins commented on #140
There are some things that are important to discuss in the private section this week. @nodejs/ctc please try and attend if possible

[2017-06-11 02:56] refack commented on #109
I believe this could be closed now that https://github.com/nodejs/node/pull/12712/commits/af3aa682ac534bb55765f5fef2755a88e5ff2580 landed

[2017-06-11 03:25] #109 closed

[2017-06-11 15:41] benjamingr commented on #109
Sweet! Thanks a lot @refack :)

[2017-06-11 22:38] Trott opened #142 "Node.js Foundation Core Technical Committee (CTC) Meeting 2017-06-14"
## Time

**UTC Wed 14-Jun-2017 11:00 (11:00 AM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 14-Jun-2017 04:00 (04:00 AM) |
| US / Mountain | Wed 14-Jun-2017 05:00 (05:00 AM) |
| US / Central  | Wed 14-Jun-2017 06:00 (06:00 AM) |
| US / Eastern  | Wed 14-Jun-2017 07:00 (07:00 AM) |
| Amsterdam     | Wed 14-Jun-2017 13:00 (01:00 PM) |

[2017-06-11 22:42] Trott commented on #142
Aside from the one agenda item listed above, here are the five other items currently labeled `ctc-review`. @nodejs/ctc, PTAL.

* [Invert dependency between core and readable-stream](https://github.com/nodejs/node-eps/pull/49)
* [lib,src: exit process on unhandled promise rejection cleanup](https://github.com/nodejs/node/pull/12010)
* [Confirmation that the stability definition is correct](https://

[2017-06-12 01:29] Trott commented on #142
Ping @mrhinkle in case he wants to attend. (I've set things up so he'll be added to future meeting issues.)

[2017-06-13 11:09] gibfahn commented on #142
I've taken the tag off this, as we've now had enough discussion on the issue.

[2017-06-13 12:43] fhinkel commented on #142
Sorry, I won't make it tomorrow.

[2017-06-13 16:39] Trott commented on #142
We now have no items on the agenda. Let's wait another (approximately) 6 hours until 23:00 UTC (12 hours before the meeting starts) to make a decision on whether or not to cancel the meeting.

[2017-06-13 23:52] Trott commented on #142
@nodejs/ctc Seems like we're canceling. See you all next week!

[2017-06-13 23:52] #142 closed

[2017-06-13 23:53] Trott commented on #142
(Reopen if you favor having the meeting this week!)

[2017-06-18 22:44] Trott opened #143 "Node.js Foundation Core Technical Committee (CTC) Meeting 2017-06-21"
## Time

**UTC Wed 21-Jun-2017 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 21-Jun-2017 09:00 (09:00 AM) |
| US / Mountain | Wed 21-Jun-2017 10:00 (10:00 AM) |
| US / Central  | Wed 21-Jun-2017 11:00 (11:00 AM) |
| US / Eastern  | Wed 21-Jun-2017 12:00 (12:00 PM) |
| Amsterdam     | Wed 21-Jun-2017 18:00 (06:00 PM) |

[2017-06-18 22:45] Trott commented on #143
@nodejs/ctc No issues on the agenda this week. Cancel? Or does someone have something to add?

[2017-06-18 22:47] Trott commented on #143
Here are the current issues and pull requests labeled `ctc-review`. @nodejs/ctc, please take a look.

* [Invert dependency between core and readable-stream](https://github.com/nodejs/node-eps/pull/49)
* [lib,src: exit process on unhandled promise rejection cleanup](https://github.com/nodejs/node/pull/12010)
* [Confirmation that the stability definition is correct](https://github.com/nodejs/node/is

[2017-06-19 02:57] refack commented on #102
That was resolved with the addition of `wrong repo`

[2017-06-19 02:57] #102 closed

[2017-06-19 03:13] refack opened #144 "Thinking Point: Will requiring 2 Collaborators' POV improve reviews?"
I can't believe this is coming from me, but I was thinking we should consider increasing the review requirements by a little bit.
From recent personal experience I find that reviews are better when there are at least two participants voicing opinions. So I suggest we require that for a PR to be land 2 Collaborators need to participate in the review. Either the the PR will need 2 approvals, or if t

[2017-06-19 03:28] Trott commented on #144
@refack Can you point to a concrete example where additional reviews would have been useful? It would help me to have a real-world example I could consider.

[2017-06-19 07:24] mcollina commented on #144
I'm not exactly in favor of this, as most of the regression that I was involved in were signed off by multiple collaborators, so the bug was not easily spottable with a code review.

[2017-06-19 08:33] targos commented on #144
I also think we need concrete examples to make this kind of decisions.

[2017-06-19 18:12] refack commented on #144
First of all I'm not talking about regressions, I'm talking about optimizing quality.

I didn't want to ref PRs because I didn't want it to be construed as criticism of contributors, so if anybody that's reading this find their name referenced, this is not criticism!
IMHO contributions from users are the lifeblood of this project, and personally I consider them priceless (big, small, accepted, or

[2017-06-19 18:28] addaleax commented on #144
@refack I think what your example shows is that it’s a good idea to apply 48/72-hour for non-trivial PRs, not necessarily anything relating to the # of reviewers.

[2017-06-19 18:37] refack commented on #144
I was just thinking about that too, extend the cooking time
![image](https://user-images.githubusercontent.com/96947/27300195-d930b646-54fc-11e7-8bb5-883b2492c6fc.png)

[2017-06-20 00:47] nebrius opened #145 "Request to move the Evangelism WG to CommComm"
This is a request to move the Evangelism WG from being chartered under the CTC to being chartered under the Community Committee. This will be an administrative change only, the Evangelism WG will continue operating the same way that they do today.

I chatted with the evangelism folks at https://github.com/nodejs/evangelism/issues/294, and they're on board with moving to CommComm, so the next step

[2017-06-20 07:21] mcollina commented on #145
SGTM

[2017-06-20 22:22] Trott commented on #143
This was added to the agenda about two hours ago by @gibfahn:

* [update clang on FreeBSD 10](https://github.com/nodejs/build/issues/723)

@gibfahn: Can you indicate either here or in that issue what you hope the CTC will do? (Any chance you meant to add this to the @nodejs/build WG agenda instead of CTC? I could be wrong--paging @williamkapke to make sure I'm not--but I *think* for the CTC to act

[2017-06-21 02:34] Trott commented on #143
....and just like that, the item is off the agenda. (It was apparently added by accident.)

We're back to zero agenda items. Unless there's something for the private segment, I imagine we're canceling. Anyone feel differently?

[2017-06-21 06:04] rvagg commented on #143
I would like some discussion _somewhere_ about V8 5.9 & perf, maybe a meeting isn't the best forum though?

[2017-06-21 06:19] Trott commented on #143
Is the idea to determine what the benchmarks need to show before we're willing to do a release with V8 5.9? If so, maybe one of the working groups or proposed working groups would be the place for the conversation? It seems like Release, LTS, and Benchmarking would all be likely to have opinions.

[2017-06-21 06:47] rvagg commented on #143
Mainly I'd just like some intentionality about the decision rather than just rolling forward because it feels inevitable.

I'll open a new thread on this repo to figure out next steps rather than continuing to pollute this one.

I guess we don't have anything to cover tomorrow.

[2017-06-21 07:10] rvagg opened #146 "V8 5.9 & Node.js 8.0"
1. We have perf regressions with 5.9 that seem fairly serious, at least when looked at in our microbenchmark suite, at least from the one run that was done early on
2. 6.0 doesn't appear to have any difference from those benchmarks (so I'm hearing, have no confirmed any of this myself), this suggests to me that we're not going to get much upstream help in reigning in perf problems; so see next poi

[2017-06-21 07:13] rvagg commented on #146
/cc @nodejs/ctc @nodejs/v8 @nodejs/lts

[2017-06-21 08:10] mcollina commented on #146
@rvagg we tested that same build on some private application code. Load testing that turned out to give 5-15% more throughput overall, even with all those regressions in the microbenchmarks. Even if streams microbenchmarks are lower, I see better throughput on some more realistic streams tests.

I would note that our microbenchmarks are _more_ written for crankshaft.js than our codebase.

I think

[2017-06-21 08:14] rvagg commented on #146
Thanks for the data point @mcollina, this is interesting.

https://nodejs.org/download/nightly/ has builds for `master` (right down the bottom) which has 5.9 in it. https://nodejs.org/download/v8-canary/ has 6.1 in it if you want to reach further ahead.

[2017-06-21 13:07] fhinkel commented on #146
We had looked into performance and saw only improvements from 5.8 to 5.9 /cc @psmarshall

[2017-06-21 13:31] mhdawson commented on #146
As per the discussion in the thread for the CTC meeting I agree that we should have something which shows an assessment of the data (micro benchmarks, nightly runs, other data) to support whether it should be pulled in or not.

I think earlier suggestion from @MylesBorins  (possibly in the LTS WG) was that we might want to skip 5.9 and wait for 6.0 before updating Node version 8.  The rational bei

[2017-06-21 13:56] ChALkeR commented on #143
I wanted to briefly mention something in the private section.
But I can move that to email, if needed.

[2017-06-21 14:28] jasnell commented on #143
If there are no agenda items, then I'm +1 on canceling again this week. Things seem to be running fairly smooth these days, I like it!

Quick update: I believe that we're about two to three weeks out from the initial HTTP/2 PR. I have some work still to do on getting it working properly on Windows and I need to add the runtime/configure flags that allow it to be switched on/off, but the initial ba

[2017-06-21 14:30] cjihrig commented on #143
Also +1 to canceling and taking the private item(s) to email. It's really nice to see things being handled on GitHub.

[2017-06-21 14:34] Trott commented on #143
Closing this issue. Might propose moving meetings to every other week if this keeps up. :-D

[2017-06-21 14:34] #143 closed

[2017-06-21 16:13] rvagg commented on #146
If someone wants to spend some time on this, maybe a good way to run the benchmarks would be to compare 8.1.0 with the commits in the 8.2.0 proposal, that would remove all the extra noise.

Also I believe that most of the benchmarks above are run on Windows. I don't know if it would make much difference but Linux is arguably more important as a deployment platform for Node (yes we have a very high

[2017-06-21 16:35] addaleax commented on #146
@rvagg That’s one of the reasons I’d like to see an 8.2.0 RC *with* V8 5.9 – it would make it a bit easier for people to check how their own applications perform. (And to answer your question in the release proposal thread: Yes, of course we can back out those changes if we agree that that’s the best course of action.)

[2017-06-21 19:52] psmarshall commented on #146
I looked into the benchmarks mentioned above, I'll write an overview here and get the data into a better format for more details soon.

A lot of the regressions we saw happened to rely on some optimization that crankshaft had, and turbofan didn't. Because these are microbenchmarks, we saw that missing one optimization can tank a whole benchmark. In larger benchmarks, we might be a little bit slowe

[2017-06-21 20:56] Trott commented on #146
@rvagg When we had the last CTC/V8 meeting (or at least the last one I was able to go to), it was the V8 team that both proposed/organized the meeting *and* brought up the issue of CrankshiftScript in our code. (I think it was even one of them--Benedikt, maybe?--that coined the term.) They seemed very interested/invested in helping us figure out how to get from our current codebase to something th

[2017-06-21 23:05] rvagg commented on #146
Sorry for not being absolutely clear—I agree that the fruit that the Node/V8 relationship is bearing is impressive and mutually valuable and I'm not trying to knock that, just that it seems to me from looking from the outside that the way we're going to have to tackle the problem is by changing things on our end to better adapt to V8 rather than expecting V8 to adapt to our overoptimised codebase.

[2017-06-22 09:14] rvagg commented on #146
@not-an-aardvark https://github.com/nodejs/node/pull/13744#issuecomment-310288774:

We really are overdue for a _proper_ representative benchmark suite.

[2017-06-22 18:42] benjamingr commented on #132
Are we even required to implement `import` (the function) in Node?

[2017-06-22 18:45] benjamingr commented on #131
Is node even interested in "function import"? As far as I know there hasn't been a built-in way to do an asynchronous require for a while now (for at least a few years) and we've been fine with it.

[2017-06-22 18:50] hybrist commented on #132
Required is a strong word. If you don't provide an implementation, `import('anything')` will just return a rejected promise. But it's the easiest & cleanest way to access modules from CommonJS. So it would be very nice to have.

[2017-06-22 18:51] jasnell commented on #131
If the import function does in fact make it into the language, then it would likely use the same mechanism as regular import. Once we are fully supporting ES6 modules, there won't be a reason not to also support the import function,

[2017-06-22 18:58] benjamingr opened #147 "Onboarding first time contributors"
Hi,

I've onboarded several first time contributors for the second time yesterday resulting in a flurry of simple pull requests: https://github.com/nodejs/node/pull/13845 https://github.com/nodejs/node/pull/13846 https://github.com/nodejs/node/pull/13848 https://github.com/nodejs/node/pull/13849 https://github.com/nodejs/node/pull/13851 https://github.com/nodejs/node/pull/13852 https://github.com/

[2017-06-22 18:59] benjamingr commented on #147
The process on my end was:
 - Explaining in about 5 minutes how Node works, what open governance and inclusivity means and how they can contribute - and how to reach out if they have an issue with the process.
 - Pointing them to a document explaining how to fork/clone node (I know forking is a click, but some people had a hard time understanding it initially - should we maybe elaborate in the doc

[2017-06-22 19:03] benjamingr commented on #132
@jkrems I'll clarify, Node has asynchronous `require` and removed it - I'm absolutely convinced asynchronous imports are crucial on the client side (for lazy loading resources for example) - but I'm not sure loading modules asynchronously is even a use case Node needs to support.

I'm not saying we shouldn't, but I think that `import` as a function might meet a lot of resistance in Node - and I'm

[2017-06-22 19:05] benjamingr commented on #131
Well, it adds to the API surface, it adds functionality that was formerly rejected in core - and the strong obvious use case in browsers doesn't really exist in Node (lazy loading resources and scripts). Every large single page application does chunking and bundling and loading resources lazily while no node server I've seen does anything similar.

I'm not saying we _shouldn't_ use or implement `i

[2017-06-22 19:15] benjamingr commented on #145
I have a question - what is the Community Committee?

[2017-06-22 19:25] refack commented on #147
@benjamingr personally for me it was nice to see new faces (OK, avatars) and I from the interaction I had with the people I felt enthusiasm. I'm big 👍 for this.
For very high level guide on how to think about a PR there's https://github.com/nodejs/node/pull/12791 (specifically [this guide](https://github.com/refack/node/blob/doc-ttt/doc/guides/best-practices-for-a-successful-pr.md)) that we haven'

[2017-06-22 19:28] refack commented on #147
AFAIK the python installer should handle that 🤔

[2017-06-22 19:28] addaleax commented on #145
@benjamingr Does the https://github.com/nodejs/community-committee README help? If not, feel free to ping the team (at nodejs/community-committee)

[2017-06-22 19:43] benjamingr commented on #147
Pinging @nodejs/community-committee as I just learned about it!

----
@refack

"Add Python to Path" is an option in the Python installer, I'm not sure most people have it selected. In any case, I wouldn't want that to be a barrier for new contributions.

[2017-06-22 19:48] vsemozhetbyt commented on #147
I can also recall a [small init guide](http://nodetodo.org/getting-started/) from NodeTodo.

[2017-06-22 19:51] domenic commented on #132
I'm really unclear why import() is being discussed in this thread.

[2017-06-22 20:00] zbjornson commented on #146
Per @rvagg's broadcast on twitter, here's a set of benchmarks run on 7.10.0 and 8.2.0-rc.1 (all values are ops/sec):

![image](https://user-images.githubusercontent.com/469365/27452984-9dabc2a6-5749-11e7-9bf2-5104058ce6bc.png)

I can explain what the benchmarks are if anyone's interested, but it sounds like the goal is just to see how some real world applications do.

Some of the most interesting

[2017-06-22 20:11] matthargett commented on #146
I'd love to see the CrankshaftScript replaced with more idiomatic JS (or C++) to enable better performance possibilities from alternative JS runtimes like ChakraCore (used in node-chakracore) and SpiderMonkey (spidernode). RIght now, I don't think the Nodejs ecosystem isn't as strong as it could be due to this coupling between Node.js and v8 that effectively limits real-world deployable innovation

[2017-06-22 20:32] refack commented on #147
https://github.com/nodejs/node/pull/13881
https://github.com/nodejs/node/issues/13882

[2017-06-22 21:53] benjamingr commented on #132
Why? This is about import() behavior, if node rejects on all import()s then it affects this.

[2017-06-22 21:55] domenic commented on #132
This isn't related to import() behavior at all. The linked post in the OP uses import() in some examples, but it applies to all ways of loading a module.

[2017-06-22 23:02] vsemozhetbyt commented on #146
(FWIW, besides `fs`, also missing in the copy from the old results: `crypto`, `dgram`, `misc`, and `path`).

[2017-06-23 05:34] Trott commented on #147
I don't think so. (Feel free to document something in a markdown file and open a pull request to add it to our guides or something like that.)

We've had Code + Learn events where many times that number of PRs are opened in a few hours from new contributors. 9 pull requests is not a problem.

I wrote this: http://nodetodo.org/next-steps/ (Feel free to fork the NodeTodo site on GitHub if you have t

[2017-06-23 07:11] vsemozhetbyt commented on #146
The old data seems really outdated. I've just run the `array` benchmarks (still on Windows), that initially cause severe concerns:

https://github.com/nodejs/node/issues/11851#issuecomment-286505219
https://github.com/nodejs/node/issues/11851#issuecomment-286524714

The pros and cons seem [drastically different](https://github.com/nodejs/node/issues/11851#issuecomment-286499975) now (8.1.2 vs 8.2.

[2017-06-23 07:44] vsemozhetbyt commented on #146
@bmeurer, @nodejs/v8 Can you explain the `Float64Array` degradation (see the comment above) in V8 5.9 with these benchmarks?

https://github.com/nodejs/node/blob/master/benchmark/arrays/zero-float.js
https://github.com/nodejs/node/blob/master/benchmark/arrays/zero-int.js

[2017-06-23 08:08] watson commented on #146
The Opbeat test suite is seeing [significant performance degradations on Node 8](https://travis-ci.org/opbeat/opbeat-node/builds/245718617). I've been trying to debug it for the last two weeks, and have found that one of the major victims seem to be Bluebird. I'd love to provide some benchmarks here if anyone are interested? (and in that case, what type of benchmarks would you prefer?)

[2017-06-23 08:10] addaleax commented on #146
@watson That’s definitely something to look into, but to clarify, you are not talking about the 8.2.0 RC, but all versions of Node 8?

[2017-06-23 08:11] targos commented on #146
@watson Node 8 currently has V8 5.8. It would be interesting to compare that with 8.2.0-rc-1.
Is it possible to test a release candidate on travis?

[2017-06-23 08:13] watson commented on #146
@addaleax @targos Ah sorry, no. I've only tested it on Node 8.1.2. But I'd be happy to see if the problem is also on 8.2.0-rc-1. I don't think that's easy to do on Travis as it's using nvm which I don't think support RC releases. But I should be able to get the same results locally

[2017-06-23 08:13] mgol commented on #146
@targos Travis uses [nvm](https://github.com/creationix/nvm) to manage Node versions and nvm [doesn't support RCs yet](https://github.com/creationix/nvm/issues/779).

But you can download the binary from the site during the build.

EDIT: Simultaneous comment. :)

[2017-06-23 08:27] SimenB commented on #146
That's wrong, nvm supports rc.

[code]

/cc @ljharb maybe close out creationix/nvm#779

[2017-06-23 08:29] mgol commented on #146
@SimenB Where did you get that? I have the latest stable `nvm` version (`0.33.2`) and it doesn't work there.

[code]

[2017-06-23 08:32] watson commented on #146
@SimenB [From Travis](https://travis-ci.org/opbeat/opbeat-node/jobs/246109798):

[code]

[2017-06-23 08:32] SimenB commented on #146
Huh, lemme check how that works for me...

EDIT: Ah, from zsh-nvm. https://github.com/lukechilds/zsh-nvm. @lukechilds upstream it? ❤️

[2017-06-23 08:32] lukechilds commented on #146
@SimenB @mgol That's a feature that [zsh-nvm](https://github.com/lukechilds/zsh-nvm/) adds to nvm. It's not available in nvm on it's own.

[2017-06-23 08:35] lukechilds commented on #146
@SimenB Currently very busy working on something else, but it's [on my list](https://github.com/creationix/nvm/issues/1053#issuecomment-304757007).

[2017-06-23 09:04] ljharb commented on #146
`nvm` absolutely does not yet support RCs; and popularizing hacks to make it work will only make the problem worse - when I *do* support RCs, everyone who's tried to hack in that support will likely have their installed RC versions break.

[2017-06-23 11:02] gibfahn commented on #147
Can we please call them contributors? I know it's an unintuitive distinction, but it's all we currently have to differentiate between contributors and collaborators.

[2017-06-23 15:52] benjamingr commented on #147
Apologies, you are right and I should have known better.

[2017-06-23 16:40] mhdawson commented on #146
@watson, when you say provide some benchmarks, I'd be interested to know what you had in mind.  Are they micro-benchmarks are more system level.  The Benchmarking WG is still looking for more system level benchmarks to add to the nightly runs.  The goal is to cover the main Node.js uses cases and there are still many gaps.

[2017-06-23 18:13] matthargett commented on #146
@mhdawson you didn't ask me, but for my purposes across several companies that deployed nodejs to production in both embedded (ARM SoC) and microservices (deployed to AWS and Azure) environments over the last ~5 years:
* AcmeAir (already in [use](https://ci.nodejs.org/view/Node.js%20benchmark/job/benchmark-footprint-8.x/46/console)
* Octane (already in [use](https://ci.nodejs.org/view/Node.js%20be

[2017-06-24 08:38] joyeecheung commented on #146
I've run the egg benchmark (benchmark for [the egg framework](https://github.com/eggjs/egg)) with v7.x, v8.x, 2.0-rc, nightly and v8 canary: https://joyeecheung.github.io/egg-benchmark/plot/

All cases are either generator-heavy or async/await-heavy. RC numbers look pretty good. They are not exactly production-level cases but surely more complicated than micro-benchmarks.

[2017-06-25 05:35] Trott opened #148 "Node.js Foundation Core Technical Committee (CTC) Meeting 2017-06-28"
## Time

**UTC Wed 28-Jun-2017 20:00 (08:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 28-Jun-2017 13:00 (01:00 PM) |
| US / Mountain | Wed 28-Jun-2017 14:00 (02:00 PM) |
| US / Central  | Wed 28-Jun-2017 15:00 (03:00 PM) |
| US / Eastern  | Wed 28-Jun-2017 16:00 (04:00 PM) |
| Amsterdam     | Wed 28-Jun-2017 22:00 (10:00 PM) |

[2017-06-25 05:35] Trott commented on #148
No agenda items as of now. If you have something, leave a comment. Otherwise, likely to cancel again!

[2017-06-25 05:38] Trott commented on #148
Items labeled for `ctc-review`; @nodejs/ctc please take a look:

* [Invert dependency between core and readable-stream](https://github.com/nodejs/node-eps/pull/49)
* ~~[lib,src: exit process on unhandled promise rejection cleanup](https://github.com/nodejs/node/pull/12010)~~
* ~~[Confirmation that the stability definition is correct](https://github.com/nodejs/node/issues/12701)~~
* ~[lib,src: eage

[2017-06-25 13:49] bnoordhuis commented on #148
Removed the ctc-review label from issues that had it for > ~2 months and struck them through in Rich's comment.

[2017-06-25 17:36] watson commented on #146
@mhdawson I currently don't have any benchmarks as such, but want to add some to our test-suite so that I can easily see how changes I make to our instrumentation code affects the performance of our customers apps. Today I just run one-off tests once in a while.

The degraded performance I've seen on Node.js 8.1.2, is in our general test-suite, where we test all aspects of our code, from the core

[2017-06-25 23:53] refack commented on #148
I don't think it's worth holding the meeting just for this, but there's an issue IMHO you should discuss (even next week): The semverity of changing messages in the new Errors.
There have been arguments pro and against marking message change as `semver-major`, but currently it seems like there is no explicit decision...
Ref: https://github.com/nodejs/node/pull/13730#issuecomment-309878525 & https:

[2017-06-26 00:10] gr2m commented on #147
hey @benjamingr this looks great 👍 I’m a new member at @nodejs/community-committee and not a Node.js contributor myself, but am very interested in making Open Source projects more welcoming to new contributors in general. We shared some of our best practises at Hoodie at http://hood.ie/blog/welcoming-communities. I also gave [a talk on it](https://www.youtube.com/watch?v=pWIMWh3xyZE)

Here a few t

[2017-06-26 13:58] psmarshall commented on #146
In http check_invalid_header_char and check_is_http_token, the string passed to the benchmark is is a result of a regex match in Benchmark.prototype._parseArgs, which results in a split string type (basically, a string that is represented as a pointer into an existing string plus a length). These split strings aren't supported in the inlined version of StringCharCodeAt, so we call into the builtin

[2017-06-26 14:08] mcollina commented on #146
You can get a non-split string by passing them through the Number(str)
function.
Il giorno lun 26 giu 2017 alle 15:58 Peter Marshall <
notifications@github.com> ha scritto:

[2017-06-26 14:16] targos commented on #146
@mcollina do you mean the `String(str)` function?

[2017-06-26 14:18] addaleax commented on #146
@targos I think @mcollina is talking about something like https://github.com/davidmarkclements/flatstr#how-does-it-work (calling `Number(str)` has the side effect of flattening the string into simple linear storage).

[2017-06-26 14:20] psmarshall commented on #146
I think in real apps we would likely see all sorts of different internal V8 string types, meaning the inlined fastpath isn't that important anyway

[2017-06-26 19:55] mhdawson commented on #148
@refack does it make sense to open an issue specifically to discuss your question on messages/semver major and add ctc-review?  That asks that CTC members weigh on the subject and then we can elevate to ctc-review if we don't see progress in the issue.

[2017-06-26 19:56] refack commented on #148
Yes. On it.

[2017-06-26 20:02] mhdawson commented on #146
@watson I think a benchmark that shows we are not regressing performance of APMs would be useful.  It would need run run in a reasonable amount of time (say 30 mins or less) and generate a small number of values (say 2 ?).

[2017-06-26 20:04] mhdawson commented on #146
@matthargett thanks for the input.  In terms of the SSR benchmarks they look more front end, do they run directly on Node.js as well ?

[2017-06-26 20:31] refack commented on #148
https://github.com/nodejs/node/issues/13937 &mdash; meta: semver impact of Error messages

[2017-06-27 21:16] Trott commented on #148
This sure seems like the meeting should be canceled. Closing, Feel free to comment or re-open if you think we should have the meeting.

[2017-06-27 21:16] #148 closed

[2017-06-27 21:57] jasnell commented on #148
Interestingly... I think this would be the third CTC meeting in a row....

[2017-06-29 04:15] MylesBorins commented on #145
Sgtm

On Jun 22, 2017 12:28 PM, "Anna Henningsen" <notifications@github.com>
wrote:

[2017-06-29 05:02] bengl opened #149 "Add @bengl to @nodejs/security"
I'd like to be added to the @nodejs/security team. I couldn't find any defined process for inclusion in the team (and maybe that's something that needs to be addressed), so @jasnell suggested I should just ask here in an issue on CTC. I'm a Node.js collaborator working at a Node.js security company, and it would be nice if we could be as up-to-date as possible with the security-happenings and cont

[2017-06-29 05:03] jasnell commented on #149
ping @nodejs/ctc @nodejs/security ... definite +1 on this one. Any objections?

[2017-06-29 06:10] mcollina commented on #149
Definitely +1.

[2017-06-29 07:22] rvagg commented on #146
Can we get someone to help drive this through to resolution? I can't do it unfortunately but it needs someone, or some people, who are interested enough in seeing an answer come out of this to make sure that the CTC has either enough data, or solid enough recommendations from trusted parties, in order to make a decision. The alternative is to make a implicit decision for the negative by letting th

[2017-06-29 07:54] mcollina commented on #145
sgtm

[2017-06-29 09:15] bnoordhuis commented on #149
@nodejs/security is already bigger than is responsible, IMO.  Access should be on a need-to-know basis, which, sorry @bengl, as far as I can see doesn't apply to you.

[2017-06-29 09:25] rvagg commented on #149
I kind of agree with Ben here, sorry to say, we need to be a bit more careful in widening this particular tent. We already have a bunch of members that are deriving more value from inclusion than providing and what we need is clear additive value.

[2017-06-29 09:28] rvagg commented on #146
https://twitter.com/bmeurer/status/880246204701036544

![screenshot_20170629-192219](https://user-images.githubusercontent.com/495647/27681000-0b51a7c8-5d01-11e7-8757-0b451af39e63.png)

[2017-06-29 10:55] targos commented on #146
I propose that we don't update V8 to 5.9 on `v8.x` and wait for V8 6.0. It should be stable by the end of July.
It is currently shipped in Chrome beta and the API is frozen. I would be in favor of updating our `master` branch earlier so that we can focus on performance issues with that version and cherry-pick fixes from 6.1.
@fhinkel @bmeurer what do you think?

[2017-06-29 10:57] addaleax commented on #146
I wouldn’t say that we are in that much of a hurry anyway, at the very least we should wait until after the July security release, and until https://github.com/nodejs/node/issues/13804 is resolved.

[2017-06-29 11:01] mcollina commented on #146
Can we make V8 6.0 have the same ABI of 5.8?

[2017-06-29 11:01] targos commented on #146
@mcollina  5.8 was patched on v8.x to have the same ABI as 6.0.

[2017-06-29 11:09] mcollina commented on #146
I am +1 on updating early and then cherry-picking fixes from 6.1. I would like to make mid-August as our deadline for a release with turbofan. That will give us a couple of months of testing before 8 become LTS. Any later than that, and we might have to stick with V8 5.8.

I'm also ok in releasing with V8 5.9, and then migrate to 6.0 at the end of July. A lot of issues will not come out unless we

[2017-06-29 16:03] jasnell commented on #146
I'm good with skipping 5.9 on 8.x and jumping to 6.0 no later than mid august.

[2017-06-29 16:04] jasnell commented on #149
Perhaps what we need, then, is to rotate some folks out in favor of bringing in new individuals who have a higher likelihood of participation.

[2017-06-29 16:05] jasnell commented on #145
SGTM

[2017-06-29 20:27] jbergstroem commented on #149
I agree with this. Lets try to find a size that CTC is comfortable with and slim it based on your suggestion?

[2017-06-30 04:09] bmeurer commented on #146
I generally support this idea. But it would be nice to get early accessible builds of Node 8 with 6.0 then. Can you maybe do like one or two RCs with 6.0 (which is pretty much frozen at this point), so people can test their apps and we can figure out which cherry-picks we need from 6.1 and what we need to to fix on 6.1 still?

[2017-06-30 04:12] bmeurer commented on #146
Also it'd be awesome to get an agreement on some kind of standard benchmark suite to reduce uncertainty somewhat in these situations. Like "don't significantly regress on AcmeAir, JetStream, ARES-6, TypeScript compiling itself and Webpack bundling some big app"?

[2017-06-30 12:02] targos commented on #146
I opened https://github.com/nodejs/node/issues/14004 to track the update to V8 6.0.

[2017-06-30 12:10] bmeurer commented on #146
Nice, that was quick :-)

[2017-06-30 15:05] isaacs opened #150 "nodejs-sec google group"
Currently I'm the only owner on this group, and I'm not active with it at all.  https://groups.google.com/forum/#!forum/nodejs-sec

It's a low-traffic list for posting node.js security disclosures.  It is for distribution, not discussion, so there's really no moderation involvement.  Just needs someone to be the official owner.  Probably should be someone in @nodejs/security or CTC or something.

[2017-06-30 15:07] jasnell commented on #150
Ping @nodejs/security-wg

[2017-06-30 16:17] sam-github commented on #150
Sounds like someone in @nodejs/security should be the owner to me, though I'm not aware of how many owners a ggroup can have, or how Node manages credentials for sensitive assets.

I'd say @isaacs could transfer the ownership to any active CTC+security member for now so he doesn't have to be involved out of the conversation. Perhaps @jasnell @MylesBorins or @mhdawson?

I notice that the list is us

[2017-06-30 16:18] mhdawson commented on #150
I'm happy to be the owner and I'm part of both the CTC and @nodejs/security.

[2017-06-30 16:29] isaacs commented on #150
added @mhdawson.  Use this power with great responsibility.  You can add other owners by performing a depth-first search of the interface starting here: https://groups.google.com/forum/#!managemembers/nodejs-sec/groups

[2017-06-30 16:29] #150 closed

[2017-06-30 17:15] sam-github commented on #150
Thanks @isaacs, and thanks for caretaking the list for all these years.

[2017-06-30 18:02] nebrius commented on #145
Thanks for the input everyone! Since this has been open a while, does the CTC have consensus on the issue? If so, I'll go ahead and start the conversation with CommComm to get signoff from the last group for the move, and then I'll submit some PRs to update docs!

[2017-06-30 18:04] addaleax commented on #145
@nodejs/ctc @nodejs/tsc Let’s wait for objections for a couple of days, say, until Wednesday or so.

[2017-06-30 20:19] isaacs commented on #150
You're welcome, but since this list is read-only, there's basically zero caretaking to be done.  I'd forgotten I owned it until @mhdawson pinged me about it :)

[2017-07-01 09:24] MylesBorins commented on #146
I want to chime in that focusing the decision primarily on performance at this point seems to be missing the point

A large portion of the decision was made due to the backporting and security concerns of sticking with the old pipeline for LTS. It is important that we do not lose sight of those challenges while making the decision.

While performance may not be at 100% of the old pipeline, this ca

[2017-07-02 21:09] Trott opened #153 "Node.js Foundation Core Technical Committee (CTC) Meeting 2017-07-05"
## Time

**UTC Wed 05-Jul-2017 11:00 (11:00 AM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 05-Jul-2017 04:00 (04:00 AM) |
| US / Mountain | Wed 05-Jul-2017 05:00 (05:00 AM) |
| US / Central  | Wed 05-Jul-2017 06:00 (06:00 AM) |
| US / Eastern  | Wed 05-Jul-2017 07:00 (07:00 AM) |
| Amsterdam     | Wed 05-Jul-2017 13:00 (01:00 PM) |

[2017-07-02 21:16] ChALkeR commented on #153
@Trott Perhaps also bring attention to #152 at the meeting?

[2017-07-02 21:20] Trott commented on #153
The only item currently on the agenda is [meta: semver impact of Error messages](https://github.com/nodejs/node/issues/13937).

Questions:

* I suggested in the issue that the determination (of whether these changes are or are not breaking changes) might best be delegated to the LTS group. If there's consensus about that, let's do that. **Is there consensus about that?**

* Is there a good chance

[2017-07-02 21:22] Trott commented on #153
@ChALkeR Oh, yes, if we meet, let's be sure to at least bring that up during announcements. (Although I hope it's landed before then.)

[2017-07-02 21:24] Trott commented on #153
Items labeled `ctc-review`; @nodejs/ctc PTAL:

* [Invert dependency between core and readable-stream](https://github.com/nodejs/node-eps/pull/49)
* [buffer: implement WHATWG Encoding Standard API](https://github.com/nodejs/node/pull/13644)
* [repl: make REPLServer.bufferedCommand private](https://github.com/nodejs/node/pull/13687)
* [promises: more robust stringification](https://github.com/nodejs

[2017-07-02 21:28] addaleax commented on #153
I’d like to mention that at some point we might want to talk about https://github.com/nodejs/CTC/issues/146 (V8 upgrades in 8.x) … maybe not this week, because we’re not going to actually do something before the security release anyway, but maybe the meeting after that.

[2017-07-02 21:31] mscdex commented on #153
@Trott I won't be attending this meeting.

[2017-07-02 21:39] Trott commented on #153
@mscdex Is that mostly because the time is a problem for you?

[2017-07-02 23:19] mscdex commented on #153
@Trott Yes.

[2017-07-04 22:25] Trott commented on #153
Looks like we're canceling this meeting and will discuss the error message vs. semver topic on the <strike>21st</strike> 19th  if it hasn't been resolved in GitHub by then. Does that sound about right? Looks like we'll also have the V8 upgrades in 8.x issue to talk about at that meeting too.

[2017-07-05 16:18] #153 closed

[2017-07-05 19:30] mhdawson commented on #150
@isaacs thanks for your help and I'll make sure to be careful in adding people.

[2017-07-06 07:28] bmeurer commented on #146
cc @natorion

[2017-07-06 17:28] mhdawson commented on #146
I agree that performance does not necessarily have to be at 100% but I think @rvagg  (sorry if I'm mis-interpreting) is saying that we need data to be able to make an informed decision which I agree with.

It is important to have enough data so that we can make an informed decision **and** be able to set expectations.  If we think the right decision is to take a 20% performance hit (just an exampl

[2017-07-06 17:40] addaleax commented on #146
@mhdawson Just so we’re on the same page, what I understand Myles as saying, and what I understood to be the outcome https://github.com/nodejs/CTC/issues/99 and all prior discussion that we had before this issue was opened, is that there are other very important factors that play into this decision that aren’t even related to performance, such as the impact it has on even just our *ability* to sup

[2017-07-07 04:01] Trott commented on #145
No objections have been raised. This can move forward.

[2017-07-07 04:01] #145 closed

[2017-07-07 08:46] mcollina commented on #146
I do not think we will ever had _any_ objective data on this matter. This is unfortunate, but it is the nature of software: applications are mostly closed source. I think each one of us should make their tests on the closed source code they have access on and make an opinion about it.

I am finding _very_ hard to work with Node 8.1, as it is very inconsistent. Some things are crankshaft, some are

[2017-07-07 16:30] mhdawson commented on #146
@addaleax I'm not disagreeing with any of the points above and I'm not trying to say that performance is the only element in the decision. I agree that some results being better, some worse, is just fine. On the other hand I do think it is something we need to acknowledge and do our best to address.

What I think is important (others might disagree) is that we:
* document/explain the steps we've t

[2017-07-07 18:11] Trott commented on #146
Do we have a volunteer? Is that something @nodejs/lts might be well-suited to do?

[2017-07-07 18:19] evanlucas commented on #146
To add in a data point on the perf, I wrote a more real world, slimmed down and basic version of something we are running in production. (https://github.com/evanlucas/node-benchmarks/tree/master/api-gateway)

It's pretty basic, but a lot more realistic than a `res.end('hello, world')`

![evanhlucas_2017-jul-07](https://user-images.githubusercontent.com/677994/27970964-8939254c-6316-11e7-8ef0-c8544

[2017-07-07 19:01] MylesBorins commented on #146
@mhdawson from my perspective #99 was a breakdown of exactly these concerns. We created a decision matrix, ran early benchmarks, and voted as a committee. While it was discussed that we would be willing to reverse the decision if there were major problems, I was not under the impression that the default would be for us to re-litigate the decision prior to landing. If anything the onus would be on

[2017-07-08 17:21] refack commented on #146
Ref: for me https://github.com/nodejs/node/pull/14131 is a good example of the low correlation between our micro-benchmarks and real-world impact. Something that should be kept in mind. The micro-benchmark suite has local value (evaluating a small change PR) but IMHO should not be the deciding factor in such big changes as V8 version changes.

[free association, no disrespect regarding ant metapho

[2017-07-10 14:37] jasnell commented on #146
Just catching up on the conversation and no where near through all of the comments... however, I will say that I agree with @MylesBorins that I had assumed the decision had already been made. Yes, we needed to make sure there were no significant regressions but the intention has been to move forward with 6.0 in 8.x -- that's why we delayed the 8.0.0 release and landed all those ABI compatibility p

[2017-07-11 09:57] MylesBorins commented on #146
I would like to propose that at this time we should close this issue and open a new issue to focus on the communications that will be required when we finally land TF+I.

I believe we are less than two weeks away from a stable branch cut on 6.0. I've synced with the V8 team on the current problems present in https://github.com/nodejs/node/pull/14004 and they will work with us on getting things fix

[2017-07-16 03:52] Trott opened #154 "Node.js Foundation Core Technical Committee (CTC) Meeting 2017-07-19"
## Time

**UTC Wed 19-Jul-2017 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 19-Jul-2017 09:00 (09:00 AM) |
| US / Mountain | Wed 19-Jul-2017 10:00 (10:00 AM) |
| US / Central  | Wed 19-Jul-2017 11:00 (11:00 AM) |
| US / Eastern  | Wed 19-Jul-2017 12:00 (noon) |
| Amsterdam     | Wed 19-Jul-2017 18:00 (06:00 PM) |
| M

[2017-07-16 03:58] Trott commented on #154
Items labeled `ctc-review`. @nodejs/ctc PTAL:

* [Invert dependency between core and readable-stream](https://github.com/nodejs/node-eps/pull/49)
* [buffer: implement WHATWG Encoding Standard API](https://github.com/nodejs/node/pull/13644)
* [repl: make REPLServer.bufferedCommand private](https://github.com/nodejs/node/pull/13687)
* [promises: more robust stringification](https://github.com/nodejs

[2017-07-17 01:43] rvagg commented on #146
Sorry to hear there's a difference in expectations at the heart of this discussion. This, from @MylesBorins' [blog post](https://medium.com/the-node-js-collection/node-js-8-0-0-has-been-delayed-and-will-ship-on-or-around-may-30th-cd38ba96980d) is the sentiment that I've been working on (emphasis mine):

Reviewing https://github.com/nodejs/CTC/issues/99 I can see there are both the "give us the opt

[2017-07-17 01:43] #146 closed

[2017-07-17 17:03] guybedford commented on #154
@Trott would it be possible to add an agenda item for the "module" property proposal at https://github.com/nodejs/node-eps/pull/60/files#diff-b193302c6b58f3c92b9098094d833b64R140? It would be really great to be able to open some discussion on the approach.

[2017-07-17 18:20] fhinkel commented on #154
The [official calendar](https://goo.gl/t6jPwI) shows the meeting as 1 pm pacific time. Did we change the schedule?

[2017-07-17 18:31] targos commented on #154
The calendar must be wrong. The [meeting schedule](https://github.com/nodejs/CTC#meeting-schedule) shows 9 am pacific time. I suppose the calendar wasn't updated correctly when we switched to a biweekly meeting.

[2017-07-17 19:10] MylesBorins opened #155 "Turbofan + Ignition release plan && comms plan"
Hey All,

So now that 5.9 is stabilized and 6.0 is soon to be released we need to make a decision about which we would like to release. The options include:

1) Releasing with 5.9 in a semver-minor ASAP 🎉
2) Holding off until 6.0 ❤️

Once we decide which we are going to move forward with we will also need to co-ordinate with @zibbykeaton and the rest of the foundation comms team to make sure that

[2017-07-17 19:20] mcollina commented on #155
Both approaches are good for me, as long as we ship one before mid-august. The plan should be to ship 6.0 asap, or 5.9 if that is not possible.

[2017-07-18 03:36] Trott commented on #154
@guybedford Anybody can add an item to the agenda, so sure, totally possible. Personally, I'd be inclined to allow more time for general comment and discussion in the pull request before involving the CTC. (That PR has been open for only 4 days.) Would it be OK to instead put it on the agenda for next meeting (in two weeks)?

At this time, I'll certainly do the following:

* use a PR comment to @-

[2017-07-18 04:10] Trott commented on #154
Can someone with write access to the Google calendar (for all Node.js meetings) fix the meeting time for this week (9AM PDT) and August 2 as well (1PM PDT)? Thanks in advance! /cc @williamkapke @mhdawson

[2017-07-18 07:17] guybedford commented on #154
@Trott many thanks! My primary goal is mainly just to create an active space here for consideration. Appreciated for the cc's - I'll get back to the initial questions there, but would still value a slot tomorrow if possible, even if it means less time to discuss or go into the details initially.

[2017-07-18 07:46] mcollina commented on #154
@Trott I have access, and I have update the next ones. If you tell me how these are recurring, I will fix the recurring schedule as well.

[2017-07-18 07:50] targos commented on #154
I _think_ these are recurring like this:

* 11:00:00 UTC
* no meeting
* 16:00:00 UTC
* no meeting
* 20:00:00 UTC
* no meeting
* 11:00:00 UTC
* ...

So each different time occurs every 6 week.

[2017-07-18 08:22] mcollina commented on #154
I updated the recurring events in the calendar. Let me know if they are correct.

[2017-07-18 08:29] targos commented on #154
Recurrence is missing for the 20:00:00 UTC meetings. Apart from that, LGTM.

[2017-07-18 08:33] mcollina commented on #154
@targos done.

[2017-07-18 14:48] ZibbyKeaton commented on #155
@MylesBorins I think similar to last time, it would be nice to write a detailed blog on the subject and we can post it on our Medium blog and share on social. I can also share with a few media folks that are generally interested in this. Happy to review the blog and write an outline too, if that would be helpful to you. In terms of timing, do you happen to know when this will be?

[2017-07-18 14:51] MylesBorins commented on #155
We are still trying to work out the timing. How much lead time do you need for a media push?

[2017-07-18 14:57] ZibbyKeaton commented on #155
@MylesBorins I will likely push this out to the media day of. I wanted to get a sense of timing, so I can put it into our editorial calendar and if it's around NodeSummit, I would reach out to the media attending the conference to give them a heads up.

[2017-07-18 15:00] MylesBorins commented on #154
I would like us to add a general discussion around Turbo-Fan + ignition.. specifically so we can agree on a release plan

I've added `ctc-agenda` to https://github.com/nodejs/CTC/issues/155 to reflect this request

[2017-07-18 15:02] MylesBorins commented on #155
@nodejs/ctc based around the above. How do people feel about doing a push to land V8 5.9 next week so we can do it around Node Summit and get a media push? I've tagged this for `ctc-agenda` so we can discuss tomorrow.

[2017-07-18 17:14] addaleax commented on #155
Sounds good to me – I’ll update the 8.2.0 proposal in a bit and remove V8 5.9 from it, the plan here sounds good and I can see that having better communications around the introduction of TF+I will be a good idea.

[2017-07-18 17:51] mhdawson commented on #154
I've added ctc-agenda to https://github.com/nodejs/LTS/pull/223.  Still may need a bit of final tweaking but I think the general scope/wording is close enough to validate that the CTC agrees with chartering the Release WG in this context.

[2017-07-18 17:56] mhdawson commented on #155
I agree using the release where TF+I is enabled to generate awareness and to re-enforce the calls @addaleax has already been making asking for people to performance test and give us feedback is a good idea.

[2017-07-18 20:53] winksaville commented on #155
I was asked by @vsemozhetbyt to provide a link to a performance issue I found between V8 5.8 and V8 6.1. Basically Typescript code targeting ES6 is 6x slower in my test than when targeting ES5. See my [comment to nodejs issue 14220](https://github.com/nodejs/node/issues/14220#issuecomment-316192383).

[2017-07-19 05:54] hashseed opened #156 "Call with V8 team, #3"
We had [two](https://github.com/nodejs/CTC/issues/62) [previous](https://github.com/nodejs/CTC/issues/76) meetings, both well received from what I can tell.

There were some opportunities to talk to each other at JSConf.eu, and I assume that we will have some more in October at Node Interactive and the following collaborator summit.

Until then, I think it makes sense to set up a meeting to sync u

[2017-07-19 06:07] Trott commented on #156
@hashseed We have a private spreadsheet containing information about availability of CTC members at different times. If you happen to know certain people on the Node.js side that you want to particularly try to have at the meeting, you can send me their names (email in my GitHub profile). I can give you a few times that the particular group of people you are interested in are likely to be availabl

[2017-07-19 06:14] mcollina commented on #156
I would like to partecipate.

[2017-07-19 08:54] mcollina commented on #155
@winksaville from how I read that conversation, it seems the problem is resolved in V8 6.1. Can you please check if the same problem exists in 6.0 and 5.9?

[2017-07-19 12:33] targos commented on #154
I won't be able to attend today's meeting. My apologies.

[2017-07-19 13:22] addaleax commented on #154
I’ll very likely be late again, maybe 20 – 30 min, but I should be able to show up (and would really like to).

[2017-07-19 13:38] winksaville commented on #155
Yes all is well with V8 6.1. Can you provide links to Node prebuilts with
V8 5.9 and 6.0?

On Wed, Jul 19, 2017, 1:54 AM Matteo Collina <notifications@github.com>
wrote:

[2017-07-19 16:14] mhdawson commented on #156
I would like to participate

[2017-07-19 17:25] vsemozhetbyt commented on #155
@winksaville
V8 5.9: [last nightly](https://nodejs.org/download/nightly/v9.0.0-nightly20170718f406a7ebae/)

Unfortunately, our first distributed [V8-canary](https://nodejs.org/download/v8-canary/) build already has V8 6.1. I hope somebody can link you to V8 6.0 Node.js build (I have an old canary one for Windows x64, let me know if it can be of any help).

[2017-07-19 18:18] targos commented on #156
Me too

[2017-07-20 04:11] winksaville commented on #155
I'll try the 5.9 build tomorrow but don't use Node on Windows. Anyone can
fork my code if desired.

Actually, if 6.1 is what's going to ship why worry about 5.9 or 6.0?

On Wed, Jul 19, 2017, 10:25 AM Vse Mozhet Byt <notifications@github.com>
wrote:

[2017-07-20 05:44] hashseed commented on #156
I'd also like to talk with someone who is familiar with the progress wrt modules. Maybe @jasnell?

[2017-07-20 05:50] targos commented on #156
there is now a PR to introduce modules: https://github.com/nodejs/node/pull/14369

[2017-07-20 07:48] vsemozhetbyt commented on #155
Actually, this is still uncertain what V8 version will be shipped with Node.js 8 LTS (see, for example, https://github.com/nodejs/node/issues/14384#issuecomment-316620942).

[2017-07-20 13:55] Trott commented on #156
Maybe @bmeck? He's not a CTC member, but he's a frequent guest/observer at the CTC meetings specifically because of modules. Especially if the meeting is happening soon, he may not be available though, in which case perhaps he can suggest someone else.

[2017-07-20 13:58] hashseed commented on #156
I was thinking some time early August, so people can plan two weeks ahead.

[2017-07-20 14:28] jasnell commented on #155
If we're only a week out from having a stable 6.0, let's go with 6.0 but let's definitely work on getting it out by mid august. I'm cutting the 9.x working branch in early september and would like to get things resolved before then.

[2017-07-21 15:59] winksaville commented on #155
Here are the performance numbers of [test-nn-ts nodev9 branch](https://github.com/winksaville/test-nn-ts/tree/nodev9) running on my laptop using the various versions of Node. The takeaway is V8 6.1 is fastest followed by V8 5.9 and V8 5.8 is slowest:

**** Summary ES5 code:
nodev8-V8-5.8 20.07s
nodev9-V8-5.9 12.30s
nodev9-V8-6.1 12.13s

**** Summary ES6 code:
nodev8-V8-5.8 131.06s
nodev9-V8-5.9 19

[2017-07-22 03:09] #140 closed

[2017-07-24 03:55] Trott commented on #155
@MylesBorins Do we have a more-or-less decided path forward on this at this point? Is the plan to do a release with V5.9 this week to coincide with NodeSummit?

[2017-07-24 05:20] rvagg commented on #155
thanks for contributing the numbers @winksaville, they're actually really interesting!

[2017-07-24 05:46] hashseed commented on #156
@Trott I'd like to take up on your offer. Can you suggest a good time for everyone who want to participate?

[2017-07-24 06:01] Trott commented on #156
@hashseed UTC 17:00 18:00 20:00 seem to be the best times (at least on Wednesdays, but probably generalizable to Monday through Friday) for targos + mhdawson + mcollina + jasnell.

[2017-07-24 15:10] winksaville commented on #155
You're welcome, glad it's helpful, it seems to indicate Node should upgrade
V8 to 6.1 sooner rather than later, in my opinion.

On Sun, Jul 23, 2017, 10:20 PM Rod Vagg <notifications@github.com> wrote:

[2017-07-25 08:15] hashseed commented on #156
I set up a Doodle: http://doodle.com/poll/h34rqhwk6q89vmx9

I chose August 8th to 10th (Tuesday to Thursday) either at UTC 17:00, 18:00 or 22:00. UTC 20:00 turns out to be very inconvenient for the V8 team when people are hurrying home and/or getting dinner.

Edit: link to new Doodle.

[2017-07-25 10:01] hashseed commented on #156
I actually made a mistake translating the time zone. I thought UTC 17:00 would be CEST 15:00 when it's actually CEST 19:00.

Please tell me if I should create a new Doodle for this!

[2017-07-25 10:16] bnoordhuis commented on #156
Hah, I wondered about that.  I'd say a new doodle is better.

[2017-07-25 10:24] hashseed commented on #156
Here's the new Doodle: http://doodle.com/poll/h34rqhwk6q89vmx9

I kept the 3pm CEST option.

@bnoordhuis @bmeck @targos please enter your preferences again, sorry!

[2017-07-25 16:48] Trott commented on #156
I'm interested in attending but I think my participation is far less crucial than the other folks who have chimed in, so I'll refrain from filing out the Doodle, but if the time that ultimately is selected works for me, I'd love to attend. I'll even volunteer to take minutes if you want.

[2017-07-26 08:45] hashseed commented on #156
@MylesBorins I think you used the stale link. The correct one is: https://beta.doodle.com/poll/h34rqhwk6q89vmx9

[2017-07-27 05:33] hashseed commented on #156
Looks like the winning options so far are
 - August 8th UTC 1pm
 - August 9th UTC 6pm
 - August 10th UTC 1pm

@ajklein @bmeck wdyt if we schedule it on August 10th UTC 1pm for the Node.js CTC call with V8, and a second, smaller meeting on the same day UTC 8pm to discuss modules? I can join both and will take meeting notes (unless Trott does it :).

[2017-07-27 14:46] bmeck commented on #156
I can be at any/all meetings on the 9th and 10th, I cannot attend on the
8th.

On Wed, Jul 26, 2017 at 10:33 PM, Yang Guo <notifications@github.com> wrote:

[2017-07-27 17:37] mcollina commented on #155
Here is our writeup on Turbofan: https://www.nearform.com/blog/node-js-is-getting-a-new-v8-with-turbofan/

[2017-07-27 17:51] ZibbyKeaton commented on #155
@MylesBorins @mcollina is this what we were originally planning to announce?

[2017-07-27 17:54] mcollina commented on #155
@ZibbyKeaton no, I don't think so. But we can lift as much we want from there, or even republish as-is on the Foundation blog.

[2017-07-27 17:56] ZibbyKeaton commented on #155
@mcollina I think it's a great post. Would you be open for us to post it to Node.js Collection? If you have a Medium then I can request the post via your Medium page. If not, I can post it on the Node.js Foundation's Medium page and then add it to the Node.js Collection. Since it's already published, I would link to the original post at the beginning of the blog, provide a brief bio on the author

[2017-07-27 17:57] ZibbyKeaton commented on #155
@mcollina sorry for original comment. Didn't read everything. Yes, I would like to republish this on Node.js Collection. Do you have a Medium page or do you want me to post on the Node.js Foundation Medium page and then add it to Node.js Collection that way?

[2017-07-27 18:02] mcollina commented on #155
You can post it to the Foundation medium page, just add a link to the original piece at the beginning.

[2017-07-28 02:57] TimothyGu commented on #155
We should probably fix the errata (by [@jkummerow](https://www.nearform.com/blog/node-js-is-getting-a-new-v8-with-turbofan/#comment-3439322768) and [@hashseed](https://www.nearform.com/blog/node-js-is-getting-a-new-v8-with-turbofan/#comment-3438859842)) before republishing though.

[2017-07-28 13:30] ZibbyKeaton commented on #155
We already published, but I can easily go in and make the edits, please just let me know what they are asap.

[2017-07-28 14:13] vsemozhetbyt commented on #155
Refs: https://github.com/nodejs/node/issues/14528

[2017-07-28 14:43] TimothyGu commented on #155
@ZibbyKeaton

- > When V8 was first built the <ins>optimizing </ins>JIT Compiler was dubbed: Crankshaft.

- How "small integers" are tested. [Specifically](https://github.com/davidmarkclements/v8-perf/blob/3c511ee125e88ffafbb1f3861df8573a037732de/bench/numbers.js):

[code]
   This function counts from 0, to 65536, to 65536 + 65537 = 131073, eventually going over the range of small int (2 ** 31 - 1

[2017-07-28 14:45] vsemozhetbyt commented on #155
Re https://www.nearform.com/blog/node-js-is-getting-a-new-v8-with-turbofan/:
Besides the notes in the comments, there are some draft fragments in the text:

[2017-07-28 15:02] vsemozhetbyt commented on #155
Re "ITERATING OVER OBJECTS" plot: the orange line and the red line are blended so it seems the red line is missed. Maybe it is worth to be mentioned explicitly.

[2017-07-28 15:38] vsemozhetbyt commented on #155
Re "CREATING OBJECTS": posible typo (of -> or):

[2017-07-28 15:45] mcollina commented on #155
Thanks everyone for reviewing! I don't think this issue is the right place for discussing those changes. Can you please open issues to the repo, so that we can easily reply and discuss each one individually?

We will address them asap.

[2017-07-28 17:24] Fishrock123 commented on #155
So the plan for this is with 6.0 next week or the week after? Is that correct?

[2017-07-29 04:57] mhdawson commented on #156
Unfortunately I'm away on holiday the week of the 8th so I won't be able to make it. @jbajwa can you make it ?

[2017-07-29 20:56] Trott commented on #155
@Fishrock123 My understanding is that we intend to release Node.js 8.3.0 this upcoming week with V8 6.0. @nodejs/release

I'm going to remove the `ctc-agenda` label from this since, as far as I know, no one is opposed to that plan. Feel free to re-add it if I'm wrong or if there is some other aspect that needs to be addressed at the meeting. @MylesBorins

[2017-07-31 03:13] #154 closed

[2017-07-31 03:27] Trott opened #160 "Node.js Foundation Core Technical Committee (CTC) Meeting 2017-08-02"
## Time

**UTC Wed 02-Aug-2017 20:00 (08:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 02-Aug-2017 13:00 (01:00 PM) |
| US / Mountain | Wed 02-Aug-2017 14:00 (02:00 PM) |
| US / Central  | Wed 02-Aug-2017 15:00 (03:00 PM) |
| US / Eastern  | Wed 02-Aug-2017 16:00 (04:00 PM) |
| Amsterdam     | Wed 02-Aug-2017 22:00 (10:00 PM) |

[2017-07-31 03:32] Trott commented on #160
In addition to the two items on the agenda for this week, there are seven other issues for which @nodejs/ctc review has been requested. These will not be discussed during the meeting but CTC members are encouraged to take a look at these and weigh in as appropriate:

* [Invert dependency between core and readable-stream](https://github.com/nodejs/node-eps/pull/49)
* [doc: charter the Release worki

[2017-07-31 16:05] jasnell commented on #156
The 9th and 10th work well for me. The 8th is completely unavailable.

[2017-07-31 16:10] jbajwa commented on #156
I can also attend on the 9th or 10th. I've updated the doodle poll accordingly.

[2017-07-31 16:40] ZibbyKeaton commented on #155
@MylesBorins are you still planning to write a blog around this for Node.js Collection?

[2017-08-01 11:20] hashseed commented on #156
Looks like August 9th UTC 6pm is winning. Let's meet at that time!

[2017-08-01 11:31] hashseed commented on #156
Link in case you did not get the calendar invite https://staging.talkgadget.google.com/hangouts/_/google.com/ctc-v8

[2017-08-01 11:35] hashseed commented on #156
Aside from the agenda items I mentioned above, is there anything else someone wants to talk about? For people who can't join, you can also bring up your topics for discussion. I will take notes and publish them.

@bmeurer

[2017-08-01 17:49] mhdawson commented on #160
I'm wondering what more we need on https://github.com/nodejs/LTS/pull/223 in terms of reaching consensus.  Its approved by 2 CTC members so far.

I'd like to set a target date for "ratification" as per https://github.com/nodejs/CTC/blob/master/WORKING_GROUPS.md in the meeting this week.

I don't see any objections in the thread at this point (I believe Jame's comments have been addressed)

How abo

[2017-08-01 19:23] addaleax commented on #160
I’d like to move [promises: more robust stringification](https://github.com/nodejs/node/pull/13784) to the CTC agenda; there hasn’t really been any movement for a while, it’s not an overly complicated issue and it’s something on which we should come to a conclusion at some point.

[2017-08-01 19:24] addaleax commented on #160
Also, I’ll try to make it, but I can’t promise that I’ll be there.

[2017-08-02 19:55] jasnell commented on #160
I'm unfortunately quite under the weather today. I'm going to skip to get some more rest

[2017-08-08 05:45] fhinkel commented on #156
@williamkapke do you want to add this to the official Node calendar? Thanks.

[2017-08-08 08:06] mcollina commented on #156
I will not be able to join :(.

Regarding performance, I would like to start a discussion with the V8 team on how to improve certain areas of Node.js (`process.nextTick`, `EventEmitter.emit`, `setImmediate`, `OutgoingMessage.setHeader` and others) with their support. There are some very hot functions that were implemented in CrankshaftScript that might be improved, or migrated to some new syntax t

[2017-08-09 17:52] hashseed commented on #156
Reminder: this is in 8 minutes.

[2017-08-10 13:17] hashseed commented on #156
Meeting notes. I might have gotten some content or names wrong. Correct me if I did.

Attendants: @addaleax @ajklein @bmeck @bmeurer @cjihrig @fhinkel @hashseed @jasnell @matthewloring @MylesBorins @natorion @ofrobots @psmarshall @targos @Trott (I probably forgot a few people, please correct me here!)

### Security process
@hashseed: Given the experience with the hash flooding issue and the subseq

[2017-08-10 13:47] bmeck commented on #156
I think this is incorrect. As I stated, this was voted on last year. There
was a conclusion that interop is needed.

On Thu, Aug 10, 2017 at 8:17 AM, Yang Guo <notifications@github.com> wrote:

[2017-08-13 21:46] Trott commented on #156
I imagine that since this meeting happened, this issue can be closed. If I'm wrong about that, please comment or re-open. Thanks!

[2017-08-13 21:46] #156 closed

[2017-08-13 21:47] Trott commented on #155
Since 8.3.0 landed with TF/I, I *think* this can be closed. Comment or re-open if I'm wrong. Thanks.

[2017-08-13 21:47] #155 closed

[2017-08-13 21:50] Trott opened #162 "Node.js Foundation Core Technical Committee (CTC) Meeting 2017-08-16"
## Time

**UTC Wed 16-Aug-2017 11:00 (11:00 AM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 16-Aug-2017 04:00 (04:00 AM) |
| US / Mountain | Wed 16-Aug-2017 05:00 (05:00 AM) |
| US / Central  | Wed 16-Aug-2017 06:00 (06:00 AM) |
| US / Eastern  | Wed 16-Aug-2017 07:00 (07:00 AM) |
| Amsterdam     | Wed 16-Aug-2017 13:00 (01:00 PM) |

[2017-08-13 21:57] Trott commented on #162
Items labeled `ctc-review`:

* [Buffer.isEncoding regards an empty string as a valid encoding](https://github.com/nodejs/node/issues/9654)
* [Invert dependency between core and readable-stream](https://github.com/nodejs/node-eps/pull/49)
* [doc: charter the Release working group](https://github.com/nodejs/LTS/pull/223)
* [os: make EOL non-configurable and readonly](https://github.com/nodejs/node/p

[2017-08-14 23:29] addaleax commented on #162
I am pretty sure I’m not going to make it to this one, sorry.

[2017-08-15 22:40] mscdex commented on #162
I won't be able to make it to this either.

[2017-08-15 22:55] cjihrig commented on #162
I won't be able to make it.

[2017-08-16 03:57] Fishrock123 commented on #162
Almost certainly not gona make it.

[2017-08-16 06:08] MylesBorins commented on #162
I won't be able to make it either

[2017-08-16 10:40] ChALkeR commented on #162
Sorry, I will not be able to make it this time.

[2017-08-16 11:06] #160 closed

[2017-08-16 11:45] Trott commented on #162
Thanks @evanlucas for running this one, thanks @targos for taking notes while I dropped off (and anyone else who did so that I may have missed!), and thanks @rvagg for handling YouTube streaming duties!

[2017-08-16 12:06] Trott commented on #162
Minutes in https://github.com/nodejs/CTC/pull/163

[2017-08-16 13:07] mhdawson commented on #162
Sorry I missed it. Too early in my timezone.

[2017-08-20 15:40] vkurchatkin opened #164 "CITGM abuse"
Hi everybody.

I'd like to bring up an issue of potential abuse of current CITGM process. As it is, it allows
maintainers of included packages to abuse Node core and internal APIs without the risk
of future breakages, thus strong-arming Node core to maintain compatibility with their code.

I don't think that there is a precedent here, but is seems that author of https://github.com/standard-things/

[2017-08-20 15:56] mcollina commented on #164
I think we should work with module authors to provide the APIs they need. I think some of those cases can't be implemented without private properties usage. If those things needs to be part of the public API contract, I would recommend @jdalton and others to open issues on core instead of unilateral actions. We are working to solve these issues, let's work together.

If it happens on purpose, then

[2017-08-20 16:28] jdalton commented on #164
Nothing is being done in bad faith.

Here's the [full Twitter thread](https://user-images.githubusercontent.com/4303/29496647-c69c9030-858b-11e7-9d86-f3067347540e.png) where I directed **vkurchatkin** to our issue tracker to help. To which he [repeated](https://github.com/standard-things/esm/issues/66) his drive by Twitter comments and then put me on blast here 😕

I've released `@std/esm` with a l

[2017-08-20 16:46] jasnell commented on #164
In order to proceed down that path, we would:

A) a better idea of what new public APIs would be necessary

B) a commitment on the part of module developers to move towards *using* those new APIs rather than the internal private APIs.

[2017-08-20 16:49] refack commented on #164
IMHO there are two separate issues here:
1. `@std/esm`
2. Usage of private APIs in popular modules.

RE (1) I've actually suggested to @bmeck that we should declare `@std/esm` as __the__ transition tool to ESM for node versions that don't support them natively (maybe even package it like we do `npm`). So IMHO this is a special case.

RE (2) AFAIK there is a famous precedent, `graceful-fs`, which g

[2017-08-20 17:05] vkurchatkin commented on #164
Actually, my primary concern is the third one: CITGM abuse. CITGM gives package authors a certain amount of power over Node core. We need a mechanism for preventing abuse of this power and holding them accountable.

[2017-08-20 17:16] jdalton commented on #164
CITGM just gives a heads up to breaking swaths of the ecosystem and allows coordination before hand to reduce issues where possible. CITGM is powered by and for the ecosystem. It's not the whip of the ecosystem. Node's on the path to unexposing internals for its ESM branch and I think that's a good way forward to reducing its compat concerns. For CJS, I'm all for solidifying in some way the existi

[2017-08-20 17:18] refack commented on #164
I think it's the popularity that gives them the power anyway. And since we follow the "lean core" paradigm IMHO that will continue to be. So as I see it cooperation is the best way to keep the ecosystem working smoothly. So <ins>I</ins> look at CitGM as the opposite, i.e. as a communication channel. It allows us to be proactive when we see a package break and communicate that to the author sooner

[2017-08-20 17:23] refack commented on #164
IMHO the best way would be an extension to CitGM that audits and publishes quality matrixes for the packages (certification lite), where internal API use should be one of the parameters.

[2017-08-20 17:32] jdalton commented on #164
@refack

I brought this up too *(at your suggestion)*. The `@std/esm` loader has already proven useful in finding under-specified behavior [in the ESM proposal](https://github.com/nodejs/node-eps/blob/master/002-es-modules.md) and helping inform users of Node's intended ESM plans. There may be, at the very least, opportunities for cross blog posts on things like the differences between it and Node

[2017-08-20 18:11] bnoordhuis commented on #164
It is however a fool thing to do.  The way e.g. https://github.com/standard-things/esm/blob/master/src/fs/read-file.js uses internalModuleReadFile() with the excuse of it being faster is just asking to get burned sooner or later - internals can and do change without notice, that's why they are _internal_.

You know the development process well enough to know that and since you intend to ram this t

[2017-08-20 18:21] jdalton commented on #164
@bnoordhuis

That's why its use is wrapped in catches and fallbacks.

Yikes. Lodash and `@std/esm` follow semver so folks can always use their version ranges to ensure bug fixes make their way to them.

My end game is to have Node way ESM in Node 4+ so that I and others can use it. My effort also placates devs who would otherwise be hostile towards Node's ESM plans and allows them a route instead

[2017-08-20 19:04] jdalton commented on #164
I would ask for a little patience and for folks to try not to project negative intent.

~~From my point of view I had a random dev troll me on twitter, [claim to have solutions](https://twitter.com/vkurchatkin/status/899221530751717376), and despite [repeated requests](https://github.com/standard-things/esm/issues/66#issuecomment-323590058) to help, choose instead to put my character on blast. The

[2017-08-20 19:13] jdalton commented on #164
Of course I'm up for submitting `@std/esm` to CITGM [through proper channels](https://github.com/nodejs/citgm/pull/460), things are in a bit of chicken and egg state at the moment. However, I'm thankful for @vkurchatkin bringing the topic if that means we can work to [solidify hooks and make things better](https://github.com/nodejs/CTC/issues/164#issuecomment-323596902).

[2017-08-20 19:14] jasnell commented on #164
I'd have to agree with @jdalton that the comments in this thread haven't been overly helpful. Let's please keep it more constructive.

[2017-08-20 19:31] vkurchatkin commented on #164
Sorry, but this comment just shows one more time how hostile you are.

I never claimed "to have solutions", I've expressed my belief that solutions exist. Even if I had, I don't owe you them. It's your responsibility to find them.

I don't believe that is the case. After all, blocking me in twitter doesn't seem to be a sign of gratitude, but rather a sign of acting in bad faith.

That said, I thin

[2017-08-20 19:36] bnoordhuis commented on #164
@jdalton I was giving you the benefit of the doubt but your last comment leaves me no choice but to assume that you are simply looking for a fight.  I don't think it's in our best interest for us to engage with you anymore.

[2017-08-20 19:39] jdalton commented on #164
@vkurchatkin @bnoordhuis I'm sorry if I've upset either of you. I don't want beefs and don't think they're appropriate or helpful.

I'm up for working with those willing: @jasnell, @refack, @bmeck, @MylesBorins, etc. ❤️

[2017-08-20 19:53] MylesBorins commented on #164
This thread doesn't really have anything actionable imho

Decisions regarding releases are made on a case by case basis by the release team

Citgm results are analyzed, and when appropriate modules are removed

We have never had to stop a release for a broken module, we have delayed a release because that breakage showed serious ecosystem damage.

I'd like to suggest we close this thread. The esm

[2017-08-20 19:53] gr2m commented on #164
Vladimir very nicely laid out a list of internal modules that `@std/esm` is using currently. I would suggest we complete this list and then give John-David and others time to comment each one of these.

Any suggestions on how we can split up the seperate private API used by `@std/esm` into separate discussions and work them off one-by-one? I feel everyone wants to come to a consensus, but please g

[2017-08-20 19:57] jdalton commented on #164
@gr2m

I've replied the initial list [here](https://github.com/standard-things/esm/issues/66#issuecomment-323590058).

I'm up for this too but maybe it's more appropriate for a separate issue than this one. That way we can be on more even footing and not coming from a defensive place.

[2017-08-20 20:05] mcollina commented on #164
Given history, I think we should encourage module authors (and I put myself in this group) to file feature requests rather than using internals. As a group, we need fo listen and maybe implement those features, or provide a way to do the same thing.

On the other end, I do not think lodash is the right place to do this level of experimentation because of the major exposure. However, it is not my m

[2017-08-20 20:17] jdalton commented on #164
@mcollina

Thank you! At the moment the `@std/esm` package looks to work for Node 4, 5, 6, 7, 8, 9-nightly, 9-ESM-PR, and NodeChakra flavors. @bmeck is planning to do another round of ESM loader behavior reviews in a week or so and I'm wrapping up fixes and unit tests from his initial review. I'd love the possibility of switching to more proper APIs for Node versions that support them!

[2017-08-20 20:20] bnoordhuis commented on #164
@jdalton Is that a passive aggressive "screw you" or a genuine apology?  Hard to tell with text.

[2017-08-20 20:27] jdalton commented on #164
@bnoordhuis I genuinely don't want you upset and would really appreciate a thorough and thoughtful code review, or anything you can contribute *(test cases, various gotchas, tips, etc.)*
in [the appropriate channel](https://github.com/standard-things/esm/issues).

[2017-08-20 20:30] bnoordhuis commented on #164
@jdalton Happy to hear that.  I would like you to apologize explicitly for your inappropriate comment, though.  I harbor no hard feelings to anyone who can admit to their mistakes.

[2017-08-20 20:36] jdalton commented on #164
@bnoordhuis I'm sorry if my comment crossed a line. It was unnecessary. It was my intent to show the situation from my point of view, ask for patience, and deescalate tensions. Thank you for being open to continued discussion.

[2017-08-20 20:41] bnoordhuis commented on #164
@jdalton Thank you, I appreciate that.

[2017-08-20 20:44] refack commented on #164
I totally agree with @MylesBorins:

And in this case I truly believe there has been no bad faith from @jdalton's side, only a misunderstanding.

[2017-08-20 21:03] ChALkeR commented on #164
@jdalton Perhaps this is not the correct place, but my opinion is that making lodash (or anything else with significant impact) depend on those undocumented APIs mentioned here would be very harmful.

What would happen when someone else uses the same undocumented APIs?

1. E.g someones badly written business logic in the top end application? What would happen if monkey-patching those would suddenl

[2017-08-20 21:06] ChALkeR commented on #164
@jasnell, @nodejs/ctc Btw, this is a pretty good list of private APIs which should not be used. I think that we should investigate which of those are not widely used yet and runtime-deprecate those asap, before someone else tries to write another esm fallback on top of those and things like that hit popular npm packages, risking to break the ecosystem.

I will do the investigation part.

[2017-08-20 21:24] MylesBorins commented on #164
Can we close this issue and open a new one specifically about the apis?

On Aug 20, 2017 2:07 PM, "Сковорода Никита Андреевич" <
notifications@github.com> wrote:

[2017-08-20 21:37] ChALkeR commented on #164
@MylesBorins +1 for a new one about the APIs, but as for closing this one — is the original issue about CIGTM misuse completely resolved?

[2017-08-20 22:03] jdalton commented on #164
@ChALkeR

The cat is already out of the bag in terms of CJS pseudo private API use. Many [projects](https://babeljs.io/docs/usage/babel-register/) use [them](https://github.com/flowtype/flow-remove-types). For example, over the last 13 months Meteor has had 10s of thousands of apps [relying on a similar approach for Node](https://blog.meteor.com/reify-meteors-evolving-javascript-module-compiler-70

[2017-08-20 22:08] ljharb commented on #164
If depending on undocumented APIs is harmful, t seems prudent to strive to remove them - the idea that accessible things can be considered "private", whether documented or undocumented, is how we get into these situations.

[2017-08-20 22:18] ChALkeR commented on #164
This is a [classic example](http://trulyfallacious.com/wp-content/uploads/2013/08/fallacy-list.png) of red herring, btw. Please, do not make it look like an argument.

Thanks for hinting the Meteor issue, though. Also, that increases the probability of things getting broken with `@std/esm` — the more things monkey-patch Module (and do other bad things like that), the higher are the chances that th

[2017-08-20 22:32] jdalton commented on #164
@ChALkeR

@benjamn and I are actually working together since our projects are so similar. I'm super open to working with other projects, as well, to iron out compat issues if/when they come.

Oh boy, apologies. I'm not gonna get into that tit for tat debate style of communication. If you dig it, no worries, it's just not for me.

@ljharb I think having a loader like `@std/esm` help with the transi

[2017-08-20 23:06] ljharb commented on #164
@jdalton I totally agree! By "situation" I meant having concerns about breakage - my implication is that the existence of gray areas that are both accessible but not intentionally public is the problem. That their existence allows for the esm loader to exist is nice, but doesn't justify imo continuing to support that gray area going forward.

[2017-08-20 23:19] mcollina commented on #164
@jdalton why do you want to change a fantastic no-dependency module like lodash to include a module that monkey-patches the module system of the Node.js runtime? This is part of the reason this thread become heated, and what I still do not understand.

The esm module is actually a nice idea for applications, and I think we should recommend it if anyone wants to try modules. Still, it monkey patche

[2017-08-20 23:21] bnoordhuis commented on #164
As a cautionary tale vis-a-vis this comment:

That misses the point.  See https://github.com/faye/websocket-driver-node/issues/21 for an example where using node.js internals went fatally wrong in a very obscure manner.

You don't want to unleash that kind of data corrupting bugs on your unwitting users.

[2017-08-20 23:25] jdalton commented on #164
@ljharb

Ya, I don't think anyone wants to muck with pseudo internals. It's not my first choice for sure. If there was a less brittle way to support things like `babel-register` or `@std/esm` that would be great!

@mcollina

I'd like to start using ESM in a Node-way for Node 4+ in Lodash.

@bnoordhuis

I'm open to suggestions or better ways to tackle things. This issue thread is probably not the p

[2017-08-20 23:27] ChALkeR commented on #164
@jdalton Sorry, I did not want to make that sound harsh, also, that wasn't personal. Let me rephrase.

What I wanted to say is that while that information about Meteor is relevant to the issue being discussed, other modules doing bad things in no way justify making new and existing widely-used modules doing _more_ bad things which are more likely to get broken and break the ecosystem.

I was (and

[2017-08-20 23:32] jdalton commented on #164
@ChALkeR

It's cool! I'm OK continuing to feel things out. I understand there's some risks but if Node 4-9 is doable and we have the start of making the situation better in Node 10+ then that's a win worth pursuing IMO.

Should next steps be for those interested to head over to [@std/esm](https://github.com/standard-things/esm) to audit / review it? That would get the ball rolling on making improv

[2017-08-20 23:41] jdalton commented on #164
Should next steps be for those interested to head over to [@std/esm](https://github.com/standard-things/esm) and audit and review it? That could get the ball rolling on making improvements, getting off pseudo private APIs where possible, and finding patterns that may be codified for little brittle tie-ins in future Node versions.

[2017-08-20 23:54] bnoordhuis commented on #164
I think it would be easier if you filed issues where you outline why and how you use internal function X.  The discussion on if and how to make something public will have to happen here anyhow, no use in splitting that across two issue trackers.

[2017-08-21 00:11] jdalton commented on #164
@bnoordhuis

Cool, will do! I know Node core tends to stay out of user-land packages, letting them rise or fall on their own. However, for those concerned I'd appreciate any help you can provide on the repo side. *(audit, review, test cases, node rules, etc.)*

TBH I'm super exhausted from this ordeal *(not how I planned to spend my Sunday)*. For me this thread has run its course. If you want to d

[2017-08-21 00:21] jdalton commented on #164
TBH I'm super exhausted from this ordeal *(not how I planned to spend my Sunday)*. For me this thread has run its course. If you want to discuss pseudo private API use in `@std/esm` or help remove or improve it's use then go to [this thread](https://github.com/standard-things/esm/issues/66). If you want to talk about CITGM stuff I'd ask that you start a new thread as this substantially derailed in

[2017-08-21 00:25] vkurchatkin commented on #164
@jdalton just one more thing: you keep repeating "pseudo private API", as if it justifies its usage, because it's not truly private. It doesn't. In fact, there is no such thing, it's just "private API".

[2017-08-21 00:32] jdalton commented on #164
@vkurchatkin
Noted. Whatever you want to call it. If you're up for helping that rocks!

[2017-08-21 00:34] jdalton commented on #164
I'm unsubscribing from the issue now.
Please feel free to ping me in email, or repo issues where needed. Thank you!

[2017-08-21 03:03] Trott commented on #164
I could be wrong about this, but I always kinda thought there was still a decent-sized faction in Node.js governance that believed we should take the ["if it's exposed, it's public API"](https://github.com/nodejs/node/issues/1854#issuecomment-107242008) approach. I know some of the more vocal proponents of that (@isaacs, @chrisdickinson) are no longer involved in Node.js governance, but surely the

[2017-08-21 03:15] ljharb commented on #164
@vkurchatkin the definition of "private" seems to have multiple interpretations; mine is that the only things that are private are the things that are inaccessible. Labeling something accessible as "private", by this definition, is precisely "pseudo-private".

[2017-08-21 03:18] refack commented on #164
@Trott AFAICT the issue with `@std/esm` is that of changing global state (in an unsupported, i.e. untested and unmanaged) way, more than of using internal APIs per se. It _could_ be roughly equated with a dependent module using an `experimental` feature without notifying the end user.

[2017-08-21 03:21] Trott commented on #164
So it's the monkey-patching and whatnot that is the crux of the issue?

[2017-08-21 03:22] vkurchatkin commented on #164
@ljharb by private I personally mean something that is not documented as being public and shouldn't be used. If you apply "pseudo" to this definition, you'll get "something that you kinda shouldn't use, but you can, if you want to". That's why term "pseudo private" seems inappropriate to me.

[2017-08-21 03:38] jasnell commented on #164
The `process.binding()` and `_`-prefixed APIs in Node.js are private *by convention only*. Historically, these were largely Private-only-because-we-said-they-were-private, but now we have a [documented policy around it](https://github.com/nodejs/node/blob/master/COLLABORATOR_GUIDE.md#internal-vs-public-api).

Specifically from that document:

Also from that document

Regardless of how these things

[2017-08-21 03:43] refack commented on #164
@ljharb I don't disagree with you, nor with @Trott, that's why I use the term ["internal APIs"](https://github.com/nodejs/node/blob/master/COLLABORATOR_GUIDE.md#internal-vs-public-api).
We have a contract with the users, we designate some APIs as internal, and we cannot guarantee semver-stability or even regular stability if they are used. Same with experimental or deprecated modules.

AFAICT any

[2017-08-21 23:10] mcollina commented on #164
I think this issue can be closed, as per https://github.com/standard-things/esm/issues/66#issuecomment-323866297.

I'm doing it now, feel free to reopen.

[2017-08-21 23:10] #164 closed

[2017-08-23 21:05] jasnell opened #165 "Requesting Rod to step down or be removed from the CTC"
I'm not going to go into a rehash of all the details here. Our process guidelines require that in order to request that an individual be removed from the CTC an issue needs to be opened and put on the CTC agenda. So I'm officially asking that either Rod resign from the CTC voluntarily or a decision be made by the CTC to remove him on grounds that interactions with the community and with other memb

[2017-08-24 02:18] refack commented on #164
@jasnell I'm requesting that @vkurchatkin moderate their comments in accordance with our CoC and moderation policy.

[2017-08-24 02:21] jasnell commented on #164
Ok @refack. Thank you for the heads up.

[2017-08-24 21:45] bmeck opened #166 "Discuss blocking on Zones proposal"
https://github.com/domenic/zones is a proposal that is currently being blocked by Node.

The proposal is something similar to domains and async_hooks in creating a way to pass data through asynchronous tasks.

The blocker has been the handling of errors with the proposal.

I would like to setup a meeting to discuss the blocking behavior now that async_hooks is landed.

[2017-08-24 21:46] jasnell commented on #166
Count me in.

[2017-08-25 01:17] rvagg commented on #165
_Dear reader from `${externalSource}`: I neither like nor support personal abuse or attacks. If you are showing up here getting angry at any party involved, I would ask you to refrain from targeting them, privately or in public. Specifically to people who think they may be supporting me by engaging in abusive behaviour: I do not appreciate, want or need it, in any form and it is not helpful in any

[2017-08-25 08:01] mcollina commented on #166
@bmeck can you link the original discussion? Which were the arguments that blocked it?

[2017-08-25 13:54] bmeck commented on #166
@mcollina most of the discussion is in https://github.com/domenic/zones/issues/9 . That was the addition of error handling.

Most of the concerns were with the similarity w/ domains and the problems from those. See [the domain post-mortem](https://nodejs.org/en/docs/guides/domain-postmortem/) and [polyfill using domains](https://github.com/bmeck/zomains/blob/master/index.js).

Over the last year o

[2017-08-25 15:29] jasnell opened #169 "Transfer i18n working groups to CommComm"
All, see https://github.com/nodejs/community-committee/issues/114

I would like to propose that we transfer oversight of the many i18n working groups to the Community committee. These have never received any reasonable or effective attention from CTC or TSC and they fall under the mission of the CommComm already.

[2017-08-25 18:39] Fishrock123 commented on #166
I guess I can join - can we experiment with something that achieves the goal of zones without necessarily using it's current proposed API?

I mean with the API may be fine to but only if VMs can entirely optimize the -every API call passes through it- overhead away.

[2017-08-25 18:43] benjamingr commented on #166
I would love to attend a meeting about it since I have a lot of experience with the problem

[2017-08-25 19:06] bmeck commented on #166
@Fishrock123 we have some flex on the API, but not on removing error handling as per https://github.com/domenic/zones/issues/10#issuecomment-324754750

[2017-08-25 19:27] jasnell commented on #166
Let's not use this thread to begin litigating on the specifics of the proposal, that's not going to be a good use of our time now. Setting up a call to begin that process is the right thing.

[2017-08-25 20:12] Trott commented on #169
I support this.

[2017-08-25 20:15] #162 closed

[2017-08-25 21:11] Trott opened #170 "Deleting @nodejs/Future-CI"
Any objections to deleting the @nodejs/future-ci  team from our GitHub org? Very inactive....

[2017-08-25 21:23] benjamingr commented on #166
I've just reread it. @trevnorris has shown in the domains postmortem why they broke (of "mine" "their" "mine" with the middle not cleaning). He then showed with @bmeck why it doesn't work with Zones like it didn't with domains.

It's amazing that Node can block this - and we did the right call doing so. It's a shame because without the error handling it was very nice for many other things as well.

[2017-08-25 22:21] jasnell commented on #170
no objections

[2017-08-26 01:33] cjihrig commented on #170
no objections

[2017-08-26 02:31] bmeck commented on #166
@benjamingr I agree (hence my previous involvement), but a meeting can make a discrete list of what Node is blocking for error handling would be good. There is a consistent desire for "thread" context, but we can't move it forward without the error handling use case. A meeting on what is different about error handling now that tooling has evolved and what async_hooks allows seems prudent since thi

[2017-08-26 05:06] Fishrock123 commented on #170
Deleted as it was mostly my doing anyways. We can always spin one up again for that purpose if necessary.

[2017-08-26 05:06] #170 closed

[2017-08-26 22:30] Trott opened #171 "Node.js Foundation Core Technical Committee (CTC) Meeting 2017-08-30"
## Time

**UTC Wed 30-Aug-2017 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 30-Aug-2017 09:00 (09:00 AM) |
| US / Mountain | Wed 30-Aug-2017 10:00 (10:00 AM) |
| US / Central  | Wed 30-Aug-2017 11:00 (11:00 AM) |
| US / Eastern  | Wed 30-Aug-2017 12:00 (12:00 PM) |
| Amsterdam     | Wed 30-Aug-2017 18:00 (06:00 PM) |

[2017-08-26 22:31] Trott commented on #171
Reminder that I'm on vacation all next week and @mhdawson  will be chairing this meeting.

[2017-08-27 02:50] Trott commented on #171
There are six items labeled `ctc-review`, although given that there are 5 items on the agenda, including a high-profile controversial subject, I'd recommend focusing on trying to resolve as many of those agenda items as possible in GitHub before the meeting.

`ctc-agenda` items can be found at https://github.com/search?utf8=%E2%9C%93&q=label%3Actc-agenda&type=.

`ctc-review` items can be found at

[2017-08-27 11:36] mcollina commented on #171
It might be possible I will not be able to join, as I am traveling in an unfavorable timezone.
Regarding the streams issues, I might not be needed _if_ some other ctc members weight in.
I'll do my best to join.

The current problem is that there seems no consensus on https://github.com/nodejs/node/issues/445#issuecomment-310028610. The streams WG thinks the best path forward is to add new properti

[2017-08-28 09:20] bnoordhuis commented on #171
I won't be joining, I'll be on the road at the time of the call.

I haven't had time to work on nodejs/node#13784.  I suggest taking it off the agenda unless there is anything new to discuss.  It was discussed last time but not untagged afterwards.

An emphatic -1 to #165 and, by $deity, let it be the last time this affair comes up.

No strong opinion on the other issues.  nodejs/node#445 and node

[2017-08-28 13:58] mhdawson commented on #171
I'm still looking for a volunteer to stream.

[2017-08-28 14:21] Trott commented on #171
@Fishrock123 Are you likely to be able to make this meeting?

[2017-08-28 14:26] targos commented on #171
I can volunteer but I'm not sure what are the technical requirements

[2017-08-28 14:47] mhdawson commented on #123
Closed by https://github.com/nodejs/LTS/pull/223

[2017-08-28 14:47] #123 closed

[2017-08-28 15:07] Trott commented on #171
@targos There are two markdown documents in https://github.com/nodejs/TSC/tree/master/Streaming that hopefully answer the question. Otherwise, Rod and Jeremiah are the two folks who usually do it, so you can ask them if you have questions.

[2017-08-28 15:23] Fishrock123 commented on #171
I believe we will also have to discuss https://github.com/nodejs/TSC/pull/317 in some form.

I should be able to, yes.

[2017-08-28 17:02] jasnell commented on #171
There have been no objections raised in regards https://github.com/nodejs/TSC/pull/317. Given that fact, I believe we can simply proceed with landing that PR and assuming that the decision is complete. There's no need to discuss things that are not contentious.

[2017-08-28 22:36] Fishrock123 commented on #166
assigning in a meager attempt to not forget about this

[2017-08-29 08:23] benjamingr commented on #114
Going to close this now since https://github.com/nodejs/post-mortem/issues/45 is happening. One last call for @misterdjules and anyone else from @nodejs/post-mortem to participate there if you'd like to help make promises work smoothly with post-mortem tools.

[2017-08-29 08:23] #114 closed

[2017-08-29 08:24] benjamingr commented on #147
Thanks, looks like CommComm is the right place to discuss this - I'll open an issue there after the election is over.

[2017-08-29 08:24] #147 closed

[2017-08-29 17:43] Fishrock123 commented on #171
I think for posterity it should at least be mentioned at the start of the meeting. Should we mark this as a TSC meeting and not a CTC meeting? Or both this week?

[2017-08-29 17:55] jasnell commented on #171
I have updated the invite list to include @joshgav as a TSC member rather than an observer, and have updated the `(CTC)` markers next to everyone's name to read `(TSC)`.

We should mark this as a TSC meeting. There's no point in having both.

[2017-08-29 21:20] Fishrock123 commented on #171
I worry that may cause some confusion for people not so in-tune what is going on.

[2017-08-30 00:57] digitalinfinity commented on #171
@mhdawson let us know if you need anyone from @nodejs/n-api to drop in to discuss nodejs/vm#9. Both myself and @aruneshchandra are available if you need us.

[2017-08-30 10:38] rvagg commented on #171
Please read my statement in #165 if you haven't already done so and are planning on submitting a vote in this meeting. If you are voting based on factors separate to those stated in the post or those not covered by my statement then I would appreciate the chance to speak to those factors.
I will try and make it, although it's 2am for me so forgive me if I'm not there.

[2017-08-30 14:28] mhdawson commented on #171
@digitalinfinity can you chime in on https://github.com/nodejs/node/pull/14902 (related to nodejs/vm#9) to fill in how the discussion went on CS modules.

[2017-08-30 15:59] digitalinfinity commented on #171
@mhdawson done

[2017-09-01 03:42] ronkorving opened #173 "Error handling"
Hi everyone,

Following https://github.com/nodejs/node/issues/15057, @benjamingr suggested I open an issue with the CTC regarding error handling. I am not sure if the solution of this lies in Node core, or in the bigger Node community.

It seems to me that for the user, errors can originate in these distinct areas:

1. libuv
2. Node.js
3. Some external modules used by the application
4. Some middl

[2017-09-01 08:50] benjamingr commented on #173
@petkaantonov

[2017-09-01 09:28] benjamingr commented on #173
Can you give some examples of that?

I think it's important to acknowledge that there is no difference between a user model throwing an `AssertionError` and Node.js used inside a library doing so. The only location that can decide if an error is 'internal' is its consumer.

This is similar to [programmer/operational errors](https://github.com/nodejs/promises/issues/23) - it depends on who is consu

[2017-09-01 14:07] jasnell commented on #173
The closest thing we have so far is the effort to migrate all errors to our `internal/errors` mechanism which assigns a static `.code` property and consistent error messages. The effort thus far has been focused on JS errors, but I will soon be introducing a PR that provides a similar mechanism for C/C++ raised errors.

Aside from migrating the codes, I've been exploring the possibility of adding

[2017-09-01 17:06] benjamingr opened #174 "Allow passing objects to `util.promisify`"
This is a proposal to extend [`util.promisify`](https://github.com/nodejs/CTC/issues/12) to accept objects in addition to promises.

Currently, a user has to type `util.promisify` for every function in a module they're using. This leads users to prefer userland solutions like [bluebird](https://github.com/petkaantonov/bluebird) which provide a more ergonomic method that converts entire APIs at onc

[2017-09-01 17:55] jasnell commented on #174
While I definitely get the utility of this, there's a danger here in that the API could end up doing entirely the wrong thing for functions that do not follow the error back pattern and do not provide their own custom conversion logic.

For instance, what should the result of the following be:

[code]

If we can clearly define the semantics and what the users would expect, then I'm all for this.

[2017-09-01 18:10] benjamingr commented on #174
@jasnell it would be identical to what `util.promisify` does for each property of the object. Something like:

[code]

Or alternatively without modifying the original object.

[2017-09-01 18:42] mcollina commented on #174
I'm generically 👎 on overly overloaded functions. This seems too much, can we do it in a different function?

Moreover, I do not see why it cannot exist in the ecosystem now that the basics of `util.promisify`  are in core (and implemented in C++).

[2017-09-02 01:40] addaleax commented on #174
Seconded

I see a single reason, but maybe it’s a biggie (maybe not): It solves the problem @jasnell is pointing out for core modules in a way that can’t be done in userland without continuously keeping up to date with core, because it would allow us to differentiate between the methods on core modules/objects that could reasonably be promisified vs those who can’t. (Simple example: `WritableStrea

[2017-09-02 07:44] mcollina commented on #174
I agree that it is a lot of work. However, I think we should provide some strategy to provide awaitable functions for the main modules of core. We might make that mechanism public, but it might be something that should be very specific to core.

I would reverse the process:

1. design a new _internal_ utility to get a promisified version of a core module
2. release that promisified layer as experi

[2017-09-02 22:39] Trott commented on #24
Closing this as a bit of cleanup for the CTC repo but feel free to re-open in the TSC repo.

[2017-09-02 22:39] #24 closed

[2017-09-02 22:40] Trott commented on #42
Closing this as a bit of cleanup for the CTC repo but feel free to re-open in the TSC repo.

[2017-09-02 22:40] #42 closed

[2017-09-02 22:40] Trott commented on #55
Closing this as a bit of cleanup for the CTC repo but feel free to re-open in the TSC repo or another appropriate repo.

[2017-09-02 22:40] #55 closed

[2017-09-02 22:41] Trott commented on #48
Closing this as a bit of cleanup for the CTC repo but feel free to re-open in the TSC repo or another appropriate repo.

[2017-09-02 22:41] #48 closed

[2017-09-04 16:30] mcollina commented on #173
I am a bit lost by the definition of middleware (as I think it means Express middlewere) here, and the fact that we are just focusing only on HTTP in your description. Node is used for all sort of purposes, so we should think more generically for this problem.

The high-level description is also missing _logging_ as 1st class concern. How the `Error` is represented in a log line? Would the develop

[2017-09-05 05:15] ronkorving commented on #173
@mcollina You're right, apologies, that is confusing. I've never gotten used to how "Express middleware" uses that word. To me that's not middleware. I meant it in the more traditional sense: an architecture or framework around which you build your software. Like LoopBack for example.

[2017-09-05 05:17] ronkorving commented on #173
@benjamingr

https://github.com/nodejs/node/blob/b24e269a482812193fb3cd8b6ced4477f8e5e1c5/lib/internal/errors.js#L84-L86

Those are not exposed to userland, are they?

[2017-09-05 10:27] mcollina commented on #173
[boom](https://www.npmjs.com/package/boom) is also a very popular library for Error handling that goes into this direction for the Hapi ecosystem.

[2017-09-05 10:33] benjamingr commented on #173
Interesting, pinging boom's @hueniverse to see if they have anything to add.

@ronkorving

But a `instanceof TypeError` still passes on `makeError(TypeError)` - right?

[2017-09-05 20:48] hueniverse commented on #173
Not sure what I can add to this conversation. I am not following what the actual need/proposal here is.

[2017-09-08 19:47] derekm opened #175 "Requesting James to step down or be removed from the TSC"
I am officially asking that either James resign from the TSC voluntarily or a decision be made by the TSC to remove him on grounds that interactions with the community and with other members of the TSC and collaborator base have not been becoming of a TSC member.

Public backbiting within the Node.js community has no place and is abusive, disgusting and unbecoming.

Bad actors and trolls within th

[2017-09-08 20:00] ljharb commented on #175
The CTC [no longer exists](https://github.com/nodejs/TSC/pull/317).

[2017-09-08 20:01] derekm commented on #175
Thanks, @ljharb. I updated the language to refer to the TSC.

[2017-09-08 20:11] benjamingr commented on #175
If you would like to file a report to the TSC please fill a report and send it to the relevant email.

Individual members are not discussed in public due to privacy concerns.

[2017-09-08 21:16] #175 closed

[2017-09-08 21:18] Trott commented on #104
This issue has been inactive for a while and this repository is now obsolete. I'm going to close this, but feel free to open another issue in a relevant active repository (TSC perhaps?) and include a link back to this issue if this is a subject that should receive continued attention.

[2017-09-08 21:18] #104 closed

[2017-09-08 21:18] Trott commented on #2
This issue has been inactive for a while and this repository is now obsolete. I'm going to close this, but feel free to open another issue in a relevant active repository (TSC perhaps?) and include a link back to this issue if this is a subject that should receive continued attention.

[2017-09-08 21:18] #2 closed

[2017-09-08 21:18] Trott commented on #118
This issue has been inactive for a while and this repository is now obsolete. I'm going to close this, but feel free to open another issue in a relevant active repository (TSC perhaps?) and include a link back to this issue if this is a subject that should receive continued attention.

[2017-09-08 21:18] #118 closed

[2017-09-08 21:19] Trott commented on #124
This issue has been inactive for a while and this repository is now obsolete. I'm going to close this, but feel free to open another issue in a relevant active repository (TSC perhaps?) and include a link back to this issue if this is a subject that should receive continued attention.

[2017-09-08 21:19] #124 closed

[2017-09-08 21:19] Trott commented on #119
We stopped doing standups altogether some time ago in the CTC. Not sure if we're still doing it in TSC meetings. In any event, this issue has been inactive for a while and this repository is now obsolete. I'm going to close this, but feel free to open another issue in a relevant active repository (TSC perhaps?) and include a link back to this issue if this is a subject that should receive continue

[2017-09-08 21:19] #119 closed

[2017-09-08 21:20] Trott commented on #110
This issue has been inactive for a while and this repository is now obsolete. I'm going to close this, but feel free to open another issue in a relevant active repository (TSC perhaps?) and include a link back to this issue if this is a subject that should receive continued attention.

[2017-09-08 21:20] #110 closed

[2017-09-08 21:20] Trott commented on #96
I think this conversation is now happening elsewhere. If not, it probably *should* be. But this repo is obsolete so I'm going to close this. Thanks.

[2017-09-08 21:20] #96 closed

[2017-09-08 21:21] Trott commented on #126
This issue has been inactive for a while and this repository is now obsolete. I'm going to close this, but feel free to open another issue in a relevant active repository (TSC perhaps?) and include a link back to this issue if this is a subject that should receive continued attention.

[2017-09-08 21:21] #126 closed

[2017-09-08 21:21] Trott commented on #139
This issue has been inactive for a while and this repository is now obsolete. I'm going to close this, but feel free to open another issue in a relevant active repository (TSC perhaps?) and include a link back to this issue if this is a subject that should receive continued attention.

[2017-09-08 21:21] #139 closed

[2017-09-08 21:22] Trott commented on #133
This issue has been inactive for a while and this repository is now obsolete. I'm going to close this, but feel free to open another issue in a relevant active repository (TSC perhaps?) and include a link back to this issue if this is a subject that should receive continued attention.

[2017-09-08 21:22] #133 closed

[2017-09-08 21:22] Trott commented on #144
I'm going to close this, but feel free to open another issue in a relevant active repository (TSC perhaps?) and include a link back to this issue if this is a subject that should receive continued attention.

[2017-09-08 21:22] #144 closed

[2017-09-08 21:22] Trott commented on #131
I'm going to close this, but feel free to open another issue in a relevant active repository (TSC perhaps?) and include a link back to this issue if this is a subject that should receive continued attention.

[2017-09-08 21:22] #131 closed

[2017-09-08 21:23] Trott commented on #132
I'm going to close this, but feel free to open another issue in a relevant active repository (TSC perhaps?) and include a link back to this issue if this is a subject that should receive continued attention.

[2017-09-08 21:23] #132 closed

[2017-09-08 21:23] Trott commented on #149
This repo isn't active anymore, but perhaps @bengl would like to open this in the TSC repo? Either way, I'm going to close this.

[2017-09-08 21:23] #149 closed

[2017-09-08 21:24] Trott commented on #169
TSC should take this up, IMO. Closing because this repo is obsolete but feel free to move the conversation to the TSC repo.

[2017-09-08 21:24] #169 closed

[2017-09-08 21:25] #171 closed

[2017-09-08 21:25] Trott commented on #166
I'm going to close this, but feel free to open another issue in a relevant active repository (TSC perhaps?) and include a link back to this issue if this is a subject that should receive continued attention. Recent governance changes mean this repo probably shouldn't be used anymore. Sorry for the inconvenience.

[2017-09-08 21:25] #166 closed

[2017-09-08 21:26] Trott commented on #174
I'm going to close this, but feel free to open another issue in a relevant active repository (TSC perhaps?) and include a link back to this issue if this is a subject that should receive continued attention. Recent governance changes mean this repo probably shouldn't be used anymore. Sorry for the inconvenience.

[2017-09-08 21:26] #174 closed

[2017-09-08 21:31] Trott commented on #165
I'm going to close this. This is already on the TSC agenda for next week, but @jasnell please note that since this issue is closed, it will no longer show up on future agendas. You can open an issue elsewhere and tag it to remedy that, or you can submit agenda items through other mechanisms. (None are specified in the TSC Charter, but they do not appear to be prohibited either, so I imagine you ca

[2017-09-08 21:31] #165 closed

[2017-09-08 21:32] Trott commented on #173
@ronkorving I know this issue is relatively recent, but I'm going to close it because recent governance changes make this repository obsolete. Feel free to re-open in another repository (maybe this one should go in the main node repo?) and link back to this issue so people have context. I'm sorry for the inconvenience.

[2017-09-08 21:32] #173 closed

[2017-11-03 19:41] refack commented on #76
AFAICT the plan has two parts:
1. one time effort for a GYP triggers GN tool that V8 can use to CI
2. continuous effort to keep `.gyp` files in sync with `.gn` files

Who is responsible for (2)? /CC @targos

[2017-11-03 19:42] refack commented on #76
/CC @seishun

[2017-11-03 20:00] MylesBorins commented on #76
This should likely be opened on the tsc repo 😁

On Nov 3, 2017 2:42 PM, "Refael Ackermann" <notifications@github.com> wrote:

[2017-11-03 21:01] mhdawson commented on #76
Agreed a new issue probably makes sense.